<div class="mainnav">

    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse"
               ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <nav class="mainnav-collapse" role="navigation">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

                <ul class="nav mainnav-menu">

                    <li ng-class="{ 'active': $state.includes('dashboards') }">
                        <a ui-sref="dashboards">
                            <i class="fa fa-home"></i>&nbsp;&nbsp;{{ 'Header.Home' | translate }}
                        </a>
                    </li>

                    <li class="dropdown" uib-dropdown ng-class="{ 'active': $state.includes('products') }">

                        <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown"
                           data-hover="dropdown">
                            {{ 'Products.MenuLabel' | translate }}
                            <i class="mainnav-caret"></i>
                        </a>

                        <ul class="dropdown-menu" role="menu">

                            <li ng-class="{ 'active': $state.includes('products.apimanager') }"
                                ng-if="AuthorizationService.canSeeApiManager()">
                                <a ng-href="{{ $state.href('products.apimanager.dashboards') }}">
                                    <i class="fa fa-th-large"></i>
                                    &nbsp;{{ 'Products.ApiManager.MenuLabel' | translate }}
                                </a>
                            </li>

                            <li ng-class="{ 'active': $state.includes('products.bulkmessaging') }"
                                ng-if="AuthorizationService.canSeeBMS()">
                                <a ng-href="{{ $state.href('products.bulkmessaging.dashboards') }}">
                                    <i class="fa fa-th-large"></i>
                                    &nbsp;{{ 'Products.BulkMessaging.MenuLabel' | translate }}
                                </a>
                            </li>

                            <li class="divider" ng-if="(AuthorizationService.canSeeApiManager() || AuthorizationService.canSeeBMS()) &&
                                                       (AuthorizationService.canSeeDCB() || AuthorizationService.canSeeOTPServer())"></li>

                            <li ng-class="{ 'active': $state.includes('products.dcb') }"
                                ng-if="AuthorizationService.canSeeDCB()">
                                <a ng-href="{{ $state.href('products.dcb.dashboards') }}">
                                    <i class="fa fa-th-large"></i>
                                    &nbsp;{{ 'Products.DirectCarrierBilling.MenuLabel' | translate }}
                                </a>
                            </li>

                            <li ng-class="{ 'active': $state.includes('products.otp') }"
                                ng-if="AuthorizationService.canSeeOTPServer()">
                                <a ng-href="{{ $state.href('products.otp.troubleshooting.sms') }}">
                                    <i class="fa fa-th-large"></i>
                                    &nbsp;{{ 'Products.OTP.MenuLabel' | translate }}
                                </a>
                            </li>

                            <li class="divider" ng-if="(AuthorizationService.canSeeApiManager() || AuthorizationService.canSeeBMS() || AuthorizationService.canSeeDCB() || AuthorizationService.canSeeOTPServer()) &&
                                                       (AuthorizationService.canSeeCHGGW() || AuthorizationService.canSeeMSGGW())"></li>

                            <li ng-class="{ 'active': $state.includes('products.charginggw') }"
                                ng-if="AuthorizationService.canSeeCHGGW()">
                                <a ng-href="{{ $state.href('products.charginggw.dashboards') }}">
                                    <i class="fa fa-th-large"></i>
                                    &nbsp;{{ 'Products.ChargingGw.MenuLabel' | translate }}
                                </a>
                            </li>

                            <li ng-class="{ 'active': $state.includes('products.messaginggw') }"
                                ng-if="AuthorizationService.canSeeMSGGW()">
                                <a ng-href="{{ $state.href('products.messaginggw.dashboards') }}">
                                    <i class="fa fa-th-large"></i>
                                    &nbsp;{{ 'Products.MessagingGw.MenuLabel' | translate }}
                                </a>
                            </li>
                        </ul>

                    </li>

                    <li class="dropdown" uib-dropdown ng-class="{ 'active': $state.includes('subsystems') }">

                        <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown"
                           data-hover="dropdown">
                            {{ 'Subsystems.MenuLabel' | translate }}
                            <i class="mainnav-caret"></i>
                        </a>

                        <ul class="dropdown-menu" role="menu">
                            <li ng-class="{ 'active': $state.includes('subsystems.businessmanagement') }"
                                ng-if="AuthorizationService.canSeeBusinessMgmt()">
                                <a ng-href="{{ $state.href('subsystems.businessmanagement.dashboards') }}">
                                    <i class="fa fa-puzzle-piece"></i>
                                    &nbsp;{{ 'Subsystems.BusinessManagement.MenuLabel' | translate }}
                                </a>
                            </li>

                            <li class="divider" ng-if="AuthorizationService.canSeeBusinessMgmt() &&
                                                       (AuthorizationService.canSeeProvisioning() || AuthorizationService.canSeeScreeningMgmt() || AuthorizationService.canSeeSubscriptionMgmt())"></li>

                            <li ng-class="{ 'active': $state.includes('subsystems.provisioning') }"
                                ng-if="AuthorizationService.canSeeProvisioning()">
                                <a ng-href="{{ $state.href('subsystems.provisioning.dashboards') }}">
                                    <i class="fa fa-puzzle-piece"></i>
                                    &nbsp;{{ 'Subsystems.Provisioning.MenuLabel' | translate }}
                                </a>
                            </li>

                            <li ng-class="{ 'active': $state.includes('subsystems.screeningmanager') }"
                                ng-if="AuthorizationService.canSeeScreeningMgmt()">
                                <a ng-href="{{ $state.href('subsystems.screeningmanager.dashboards') }}">
                                    <i class="fa fa-puzzle-piece"></i>
                                    &nbsp;{{ 'Subsystems.ScreeningManager.MenuLabel' | translate }}
                                </a>
                            </li>

                            <li ng-class="{ 'active': $state.includes('subsystems.subscriptionmanagement') }"
                                ng-if="AuthorizationService.canSeeSubscriptionMgmt()">
                                <a ng-href="{{ $state.href('subsystems.subscriptionmanagement.dashboards') }}">
                                    <i class="fa fa-puzzle-piece"></i>
                                    &nbsp;{{ 'Subsystems.SubscriptionManagement.MenuLabel' | translate }}
                                </a>
                            </li>

                            <li class="divider" ng-if="(AuthorizationService.canSeeBusinessMgmt() || AuthorizationService.canSeeProvisioning() || AuthorizationService.canSeeScreeningMgmt() || AuthorizationService.canSeeSubscriptionMgmt()) &&
                                                       AuthorizationService.canSeeContentMgmt()"></li>

                            <li ng-class="{ 'active': $state.includes('subsystems.contentmanagement') }"
                                ng-if="AuthorizationService.canSeeContentMgmt()">
                                <a ng-href="{{ $state.href('subsystems.contentmanagement.dashboards.dsp') }}">
                                    <i class="fa fa-puzzle-piece"></i>
                                    &nbsp;{{ 'Subsystems.ContentManagement.MenuLabel' | translate }}
                                </a>
                            </li>

                            <li class="divider" ng-if="(AuthorizationService.canSeeBusinessMgmt() || AuthorizationService.canSeeProvisioning() || AuthorizationService.canSeeScreeningMgmt() || AuthorizationService.canSeeSubscriptionMgmt() || AuthorizationService.canSeeContentMgmt()) &&
                                                       (AuthorizationService.canSeeDiagnostics() || AuthorizationService.canSeeReportGeneration())"></li>

                            <li ng-class="{ 'active': $state.includes('subsystems.diagnostics') }"
                                ng-if="AuthorizationService.canSeeDiagnostics()">
                                <a ng-href="{{ $state.href('subsystems.diagnostics.dashboards') }}">
                                    <i class="fa fa-puzzle-piece"></i>
                                    &nbsp;{{ 'Subsystems.Diagnostics.MenuLabel' | translate }}
                                </a>
                            </li>

                            <li ng-class="{ 'active': $state.includes('subsystems.reporting') }"
                                ng-if="AuthorizationService.canSeeReportGeneration()">
                                <a ng-href="{{ $state.href('subsystems.reporting.reports.dashboards') }}">
                                    <i class="fa fa-puzzle-piece"></i>
                                    &nbsp;{{ 'Subsystems.Reporting.MenuLabel' | translate }}
                                </a>
                            </li>
                        </ul>

                    </li>

                    <li ng-class="{ 'active': $state.includes('workflows'), 'disabled': !AuthorizationService.canBpmOperationsTaskRead() }"
                        ng-if="AuthorizationService.canBpmOperationsTaskRead()">
                        <a ng-href="{{!AuthorizationService.canBpmOperationsTaskRead() ? '' : $state.href('workflows.dashboards')}}">
                            <i class="fa fa-tasks"></i>
                            &nbsp;{{ 'Workflows.MenuLabel' | translate }}
                        </a>
                    </li>
                </ul>

            </div>

        </nav>

    </div>

</div>
