<div class="portlet-header">
    <h4 class="portlet-title">
        {{ 'Products.MMSC.Operations.ContentFilters.PageHeader' | translate }} / {{ 'Products.MMSC.Operations.ContentFilters.ContentType.PageHeader' | translate }}
    </h4>
</div>

<div class="portlet-body buttons-portlet-body">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-5">
            <div class="pull-left">
                <button class="btn btn-secondary btn-sm" ui-sref="products.mmsc.operations.contenttypefilters.new"
                        ng-disabled="!AuthorizationService.canCreate()">
                    <i class="fa fa-plus"></i>
                    {{ 'CommonLabels.AddNewEntry' | translate }}
                </button>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="pull-right">
                <div class="btn-group" ng-show="mediaList.tableParams.total() > 0">
                    <button type="button" ng-click="exportRecords('csv')" class="btn btn-sm btn-default">{{ 'Export.CSV' | translate }}</button>
                    <button type="button" ng-click="exportRecords('xls')" class="btn btn-sm btn-default">{{ 'Export.Excel' | translate }}</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4">
            <form class="mainnav-form">
                <input type="text" class="form-control input-sm pull-right mainnav-search-query"
                       ng-model="filterText" ng-change="filterTable(filterText, ['mainType', 'subType'])"
                       placeholder="{{ 'CommonLabels.Search' | translate }}...">
                <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>

<div class="portlet-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table ng-table="mediaList.tableParams" class="table table-striped table-bordered"
                       template-pagination="ngTableCustomPager.html">
                    <tr ng-repeat="data in $data" class="hidden-link-cell-row">
                        <td align="center" data-title="'Products.MMSC.Operations.ContentFilters.ContentType.TableColumns.MainContentType' | translate" sortable="'mainType'">{{data.mainType}}</td>
                        <td align="center" data-title="'Products.MMSC.Operations.ContentFilters.ContentType.TableColumns.SubContentType' | translate" sortable="'subType'">{{data.subType}}</td>
                        <td align="center" data-title="'CommonLabels.Actions' | translate">
                            <button ng-click="remove(data)" class="btn btn-xs btn-danger"
                                    title="{{ 'CommonLabels.Remove' | translate }}"
                                    ng-disabled="!AuthorizationService.canDelete()">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    <tr ng-if="$data.length === 0">
                        <td colspan="3" class="text-center">{{ 'CommonMessages.EmptyTable' | translate }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
