<div class="col-md-12">
    <div class="portlet">
        <div class="portlet-body">

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="row-stat">
                        <p class="row-stat-label">{{ 'Products.MMSC.Dashboards.Tiles.Tile1' | translate }}</p>
                        <h3 class="row-stat-value">{{ tileInfo.incomingMMSRate | number:2 }} mps</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="row-stat">
                        <p class="row-stat-label">{{ 'Products.MMSC.Dashboards.Tiles.Tile2' | translate }}</p>

                        <h3 class="row-stat-value" ng-if="tileInfo.mmsCapableDevices === 0">{{ 'CommonLabels.N/A' | translate }}</h5>
                        <h3 class="row-stat-value" ng-if="tileInfo.mmsCapableDevices > 0">{{ tileInfo.mmsCapableDevices | number:2 }}%</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="row-stat">
                        <p class="row-stat-label">{{ 'Products.MMSC.Dashboards.Tiles.Tile3' | translate }}</p>

                        <h3 class="row-stat-value">{{ tileInfo.outgoingMMSRate | number:2 }} mps</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="row-stat">
                        <p class="row-stat-label">{{ 'Products.MMSC.Dashboards.Tiles.Tile4' | translate }}</p>

                        <h3 class="row-stat-value">{{ tileInfo.successRatio | number:2 }}%</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="row-stat">
                        <p class="row-stat-label">{{ 'Products.MMSC.Dashboards.Tiles.Tile5' | translate }}</p>

                        <h3 class="row-stat-value">{{ tileInfo.avgNotificationTime | number:2 }} sec</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="row-stat">
                        <p class="row-stat-label">{{ 'Products.MMSC.Dashboards.Tiles.Tile6' | translate }}</p>

                        <h3 class="row-stat-value">{{ tileInfo.mmBoxSize | number }} mms</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="portlet">
        <div class="portlet-body">

            <div class="row">
                <div class="col-md-4">
                    <div class="portlet">
                        <h4 class="portlet-title">
                            <u>{{ 'Products.MMSC.Dashboards.Charts.Chart1' | translate }}</u>
                        </h4>

                        <div class="portlet-body">
                            <h5 ng-if="incomingTrafficData.length === 0" class="text-warning">{{ 'CommonMessages.NoDataAvailable' | translate }}</h5>
                            <div id="pie-chart-chart1" class="chart-holder-250"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portlet">
                        <h4 class="portlet-title">
                            <u>{{ 'Products.MMSC.Dashboards.Charts.Chart2' | translate }}</u>
                        </h4>

                        <div class="portlet-body">
                            <h5 ng-if="outgoingTrafficData.length === 0" class="text-warning">{{ 'CommonMessages.NoDataAvailable' | translate }}</h5>
                            <div id="pie-chart-chart2" class="chart-holder-250"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portlet">
                        <h4 class="portlet-title">
                            <u>{{ 'Products.MMSC.Dashboards.Charts.Chart3' | translate }}</u>
                        </h4>

                        <div class="portlet-body">
                            <h5 ng-if="failureMapEntryData.length === 0" class="text-warning">{{ 'CommonMessages.NoDataAvailable' | translate }}</h5>
                            <div id="pie-chart-chart3" class="chart-holder-250"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="portlet">
                        <h4 class="portlet-title">
                            <u>{{ 'Products.MMSC.Dashboards.Charts.Chart4' | translate }}</u>
                        </h4>

                        <div class="portlet-body">
                            <h5 ng-if="incomingTrafficDetailDataMM7.length === 0" class="text-warning">{{ 'CommonMessages.NoDataAvailable' | translate }}</h5>
                            <div id="pie-chart-chart4" class="chart-holder-250"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portlet">
                        <h4 class="portlet-title">
                            <u>{{ 'Products.MMSC.Dashboards.Charts.Chart5' | translate }}</u>
                        </h4>

                        <div class="portlet-body">
                            <h5 ng-if="outgoingTrafficDetailDataMM7.length === 0" class="text-warning">{{ 'CommonMessages.NoDataAvailable' | translate }}</h5>
                            <div id="pie-chart-chart5" class="chart-holder-250"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portlet">
                        <h4 class="portlet-title">
                            <u>{{ 'Products.MMSC.Dashboards.Charts.Chart6' | translate }}</u>
                        </h4>

                        <div class="portlet-body">
                            <h5 ng-if="failureInfoDetailDataMM7.length === 0" class="text-warning">{{ 'CommonMessages.NoDataAvailable' | translate }}</h5>
                            <div id="pie-chart-chart6" class="chart-holder-250"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="portlet">
                        <h4 class="portlet-title">
                            <u>{{ 'Products.MMSC.Dashboards.Charts.Chart7' | translate }}</u>
                        </h4>

                        <div class="portlet-body">
                            <h5 ng-if="incomingTrafficDetailDataMM4.length === 0" class="text-warning">{{ 'CommonMessages.NoDataAvailable' | translate }}</h5>
                            <div id="pie-chart-chart7" class="chart-holder-250"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portlet">
                        <h4 class="portlet-title">
                            <u>{{ 'Products.MMSC.Dashboards.Charts.Chart8' | translate }}</u>
                        </h4>

                        <div class="portlet-body">
                            <h5 ng-if="outgoingTrafficDetailDataMM4.length === 0" class="text-warning">{{ 'CommonMessages.NoDataAvailable' | translate }}</h5>
                            <div id="pie-chart-chart8" class="chart-holder-250"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="portlet">
                        <h4 class="portlet-title">
                            <u>{{ 'Products.MMSC.Dashboards.Charts.Chart9' | translate }}</u>
                        </h4>

                        <div class="portlet-body">
                            <h5 ng-if="failureInfoDetailDataMM4.length === 0" class="text-warning">{{ 'CommonMessages.NoDataAvailable' | translate }}</h5>
                            <div id="pie-chart-chart9" class="chart-holder-250"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
