apiVersion: apps/v1
kind: Deployment
metadata:
  name: consolportals-sa-stc-vcp-httpd-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      component: vcp-httpd
  template:
    metadata:
      labels:
        component: vcp-httpd
    spec:
      containers:
        - name: vcp-httpd
          image: mersin.telenity.com/com/telenity/consolportals-sa-stc-vcp-httpd:1.0.0.1
          ports:
            - containerPort: 80
            - containerPort: 443
