apiVersion: v1
kind: Service
metadata:
  name: consolportals-sa-stc-vcp-partnerportal-service
spec:
  type: ClusterIP
  selector:
    component: vcp-partnerportal
  ports:
    - port: 8082
      targetPort: 8082
