apiVersion: apps/v1
kind: Deployment
metadata:
  name: consolportals-sa-stc-vcp-ccportal-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      component: vcp-ccportal
  template:
    metadata:
      labels:
        component: vcp-ccportal
    spec:
      containers:
        - name: vcp-ccportal
          image: nexus.telenity.com/com/telenity/consolportals-sa-stc-vcp-ccportal:1.0.0.1
          ports:
            - containerPort: 8081
