apiVersion: apps/v1
kind: Deployment
metadata:
  name: consolportals-sa-stc-vcp-partnerportal-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      component: vcp-partnerportal
  template:
    metadata:
      labels:
        component: vcp-partnerportal
    spec:
      containers:
        - name: vcp-partnerportal
          image: mersin.telenity.com/com/telenity/consolportals-sa-stc-vcp-partnerportal:1.0.0.1
          ports:
            - containerPort: 8082
