<div class="portlet-header">
    <h4 class="portlet-title">
        {{ 'Services.CC.Operations.CoSProfiles.PageHeader' | translate }}
    </h4>
</div>

<div class="portlet-body">

    <form class="form-horizontal parsley-form" novalidate id="form" name="form" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label class="col-md-3">{{ 'Services.CC.Operations.CosName' | translate }}</label>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="cosProfile.cosName" disabled />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'Services.CC.Operations.CdrEnabled' | translate }}</label>
            <div class="col-md-7">
                <div class="btn-group">
                    <button type="button" class="btn {{cosProfile.cdrEnabled?'btn-primary active':'btn-default'}} btn-sm"
                            ng-model="cosProfile.cdrEnabled" uib-btn-radio="true" ng-disabled="!AuthorizationService.canUpdate()" >{{ 'CommonLabels.Yes' | translate }}</button>
                    <button type="button" class="btn {{!cosProfile.cdrEnabled?'btn-primary active':'btn-default'}} btn-sm"
                            ng-model="cosProfile.cdrEnabled" uib-btn-radio="false" ng-disabled="!AuthorizationService.canUpdate()" >{{ 'CommonLabels.No' | translate }}</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-7 col-md-push-3">
                <button type="submit" class="btn btn-danger"
                        ng-disabled="form.$invalid || !AuthorizationService.canUpdate() || isConfigurationNotChanged()"
                        ng-click="save();">
                    {{ 'CommonLabels.Save' | translate }}
                </button>
                <button type="reset" class="btn btn-default" ui-sref="services.cc.operations.cosprofiles.collectcall()" >
                    {{ 'CommonLabels.Cancel' | translate }}
                </button>
            </div>
        </div>

    </form>

</div>
