<div class="modal-header">
    <h4 class="modal-title">
        {{ 'SubscriberInfo.Troubleshooting.Details.PageHeader' | translate:{ offerName: edrRecord.offerName } }}
    </h4>
</div>

<div class="modal-body">
    <div class="details-modal" style="height: 100%;margin-bottom: 20px;">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <table class="table keyvalue-table">
                    <tbody>
                    <tr>
                        <td class="kv-key"
                            uib-popover="{{ 'SubscriberInfo.Troubleshooting.TableColumnsTooltips.TransactionId' | translate }}"
                            popover-placement="bottom" popover-animation="false" popover-trigger="'mouseenter'"
                            popover-append-to-body="true">
                            {{ 'SubscriberInfo.Troubleshooting.TableColumns.TransactionId' | translate }}
                        </td>
                        <td class="kv-value">{{ edrRecord.transactionId }}&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="kv-key"
                            uib-popover="{{ 'SubscriberInfo.Troubleshooting.TableColumnsTooltips.State' | translate }}"
                            popover-placement="bottom" popover-animation="false" popover-trigger="'mouseenter'"
                            popover-append-to-body="true">
                            {{ 'SubscriberInfo.Troubleshooting.TableColumns.State' | translate }}
                        </td>
                        <td class="kv-value">{{ edrRecord.state }}&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="kv-key"
                            uib-popover-html="'{{ 'SubscriberInfo.Troubleshooting.TableColumnsTooltips.InactivationReason' | translate }}'"
                            popover-placement="bottom" popover-animation="false" popover-trigger="'mouseenter'"
                            popover-append-to-body="true">
                            {{ 'SubscriberInfo.Troubleshooting.TableColumns.InactivationReason' | translate }}
                        </td>
                        <td class="kv-value">{{ edrRecord.inactivationReason }}&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="kv-key"
                            uib-popover="{{ 'SubscriberInfo.Troubleshooting.TableColumnsTooltips.SubscriberNotificationType' | translate }}"
                            popover-placement="bottom" popover-animation="false" popover-trigger="'mouseenter'"
                            popover-append-to-body="true">
                            {{ 'SubscriberInfo.Troubleshooting.TableColumns.SubscriberNotificationType' | translate }}
                        </td>
                        <td class="kv-value">{{ edrRecord.subscriberNotificationType }}&nbsp;</td>
                    </tr>
                    <tr ng-if="edrRecord.error">
                        <td class="kv-key"
                            uib-popover="{{ 'SubscriberInfo.Troubleshooting.TableColumnsTooltips.ErrorDescription' | translate }}"
                            popover-placement="bottom" popover-animation="false" popover-trigger="'mouseenter'"
                            popover-append-to-body="true">
                            {{ 'SubscriberInfo.Troubleshooting.TableColumns.ErrorDescription' | translate }}
                        </td>
                        <td class="kv-value">{{ edrRecord.error }}&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">{{'CommonLabels.Close' | translate}}</button>
</div>