<div class="portlet-body buttons-portlet-body">
    <div class="row">
        <div class="col-md-5 col-xs-4">
            <div class="pull-left">
                <div class="btn btn-secondary btn-sm pull-left"
                     title="{{ 'CommonMessages.FilterButtonTitle' | translate }}"
                     ng-model="filterFormLayer.isFilterFormOpen"
                     ng-init="filterFormLayer.isFilterFormOpen = true"
                     ng-click="filterFormLayer.isFilterFormOpen = !filterFormLayer.isFilterFormOpen">
                    <span ng-if="!filterFormLayer.isFilterFormOpen">{{ 'CommonLabels.ShowFilter' | translate }} <i class="fa fa-chevron-circle-right"></i></span>
                    <span ng-if="filterFormLayer.isFilterFormOpen">{{ 'CommonLabels.HideFilter' | translate }} <i class="fa fa-chevron-circle-down"></i></span>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-xs-8">
            <div class="pull-right">
                <div class="btn-group pull-right" style="white-space: nowrap;">
                    <button type="button" class="btn {{recordType === 'permanent'?'btn-default active':'btn-default'}} btn-sm"
                            ng-model="recordType" uib-btn-radio="'permanent'">{{ 'Products.SMSC.Troubleshooting.PermanentRecords' | translate }}
                    </button>
                    <button type="button" class="btn {{recordType === 'transient'?'btn-default active':'btn-default'}} btn-sm"
                            ng-model="recordType" uib-btn-radio="'transient'"
                            ng-disabled="dateFilter.result === '0'">{{ 'Products.SMSC.Troubleshooting.TransientRecords' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet-body">
    <div class="row">
        <div hidden-filter-form ng-model="filterFormLayer" class="col-sm-12 filter-form">

            <form id="filterForm" name="filterForm" method="post" enctype="multipart/form-data" class="form-horizontal parsley-form" novalidate>

                <div class="portlet portlet-boxed">

                    <div class="portlet-body">

                        <div class="form-group">
                            <label for="startDate" class="col-md-2 col-sm-3 control-label text-right">{{ 'GenericFormFields.StartDateAndTime.Label' | translate }}</label>
                            <div class="col-md-3 col-sm-4">
                                <div id="startDate" class="input-group date datepicker-field">
                                    <input id="startDate" name="startDate" type="text" class="form-control input-sm"
                                           ng-model="dateFilter.startDate" uib-datepicker-popup="{{dateFormat}}"
                                           ng-change="updateStartDate(dateFilter.startDate)"
                                           ng-focus="openStartDatePicker($event)"
                                           min-max-check is-open="startDatePicker.opened"
                                           max-date="dateFilter.endDate" datepicker-options="dateOptions"
                                           ng-required="true"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default input-sm"
                                                ng-click="openStartDatePicker($event)"><i
                                                class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                                <ul ng-class="{ 'parsley-error-list': filterForm.startDate.$dirty && filterForm.startDate.$invalid }" ng-show="filterForm.startDate.$dirty && filterForm.startDate.$invalid">
                                    <li class="required" ng-show="filterForm.startDate.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                                    <li class="required" ng-show="filterForm.startDate.$error.parse">{{ 'GenericFormFields.StartDateAndTime.Messages.Invalid' | translate }}</li>
                                    <li class="required" ng-show="filterForm.startDate.$error.maxDateExceeded">{{ 'GenericFormFields.StartDateAndTime.Messages.MaxDateExceeded' | translate }}</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-4">
                                <div uib-timepicker ng-model="dateFilter.startTime" class="time-picker with-date-picker"
                                     hour-step="hstep" minute-step="mstep"
                                     show-meridian="false" readonly-input="true" mousewheel="false"
                                     ng-change="updateStartDateTime(dateFilter.startTime)"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="endDate" class="col-md-2 col-sm-3 control-label text-right">{{ 'GenericFormFields.EndDateAndTime.Label' | translate }}</label>
                            <div class="col-md-3 col-sm-4">
                                <div id="endDate" class="input-group date datepicker-field">
                                    <input id="endDate" name="endDate" type="text" class="form-control input-sm"
                                           ng-model="dateFilter.endDate" uib-datepicker-popup="{{dateFormat}}"
                                           ng-change="updateEndDate(dateFilter.endDate)"
                                           ng-focus="openEndDatePicker($event)"
                                           min-max-check is-open="endDatePicker.opened"
                                           min-date="dateFilter.startDate" datepicker-options="dateOptions"
                                           ng-required="true"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default input-sm"
                                                ng-click="openEndDatePicker($event)"><i
                                                class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                                <ul ng-class="{ 'parsley-error-list': filterForm.endDate.$dirty && filterForm.endDate.$invalid }" ng-show="filterForm.endDate.$dirty && filterForm.endDate.$invalid">
                                    <li class="required" ng-show="filterForm.endDate.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                                    <li class="required" ng-show="filterForm.endDate.$error.parse">{{ 'GenericFormFields.EndDateAndTime.Messages.Invalid' | translate }}</li>
                                    <li class="required" ng-show="filterForm.endDate.$error.minDateExceeded">{{ 'GenericFormFields.EndDateAndTime.Messages.MinDateExceeded' | translate }}</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-4">
                                <div uib-timepicker ng-model="dateFilter.endTime" class="time-picker with-date-picker"
                                     hour-step="hstep" minute-step="mstep"
                                     show-meridian="false" readonly-input="true" mousewheel="false"
                                     ng-change="updateEndDateTime(dateFilter.endTime)"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="origAddress" class="col-md-2 col-sm-3 control-label text-right">{{ 'Products.SMSC.Troubleshooting.FilterForm.OrigAddress.Label' | translate }}</label>
                            <div class="col-md-3 col-sm-4">
                                <input type="text" class="form-control input-sm" id="origAddress" name="origAddress"
                                       ng-model="dateFilter.origAddress" placeholder="{{ 'CommonLabels.SubscriberMsisdnPlaceholder' | translate }}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="destAddress" class="col-md-2 col-sm-3 control-label text-right">{{ 'Products.SMSC.Troubleshooting.FilterForm.DestAddress.Label' | translate }}</label>
                            <div class="col-md-3 col-sm-4">
                                <input type="text" class="form-control input-sm" id="destAddress" name="destAddress"
                                       ng-model="dateFilter.destAddress" placeholder="{{ 'CommonLabels.SubscriberMsisdnPlaceholder2' | translate }}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="origAgentType" class="col-md-2 col-sm-3 control-label text-right">{{ 'Products.SMSC.Troubleshooting.FilterForm.OrigAgent.Label' | translate }}</label>
                            <div class="col-md-3 col-sm-4">
                                <select id="origAgentType" name="origAgentType" ng-model="dateFilter.origAgentType" class="form-control"
                                        ng-options="agentType as agentType.text for agentType in SMSC_AGENT_TYPE">
                                    <option value="">-- {{ 'CommonLabels.SelectOne' | translate }} --</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-4" ng-if="dateFilter.origAgentType.type_key === 1">
                                <select id="origAgent" name="origAgent" ng-model="dateFilter.origAgent" class="form-control"
                                        ng-options="smppApplication as smppApplication.label for smppApplication in smppApplicationList">
                                    <option value="">-- {{ 'CommonLabels.SelectOne' | translate }} --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="destAgentType" class="col-md-2 col-sm-3 control-label text-right">{{ 'Products.SMSC.Troubleshooting.FilterForm.DestAgent.Label' | translate }}</label>
                            <div class="col-md-3 col-sm-4">
                                <select id="destAgentType" name="destAgentType" ng-model="dateFilter.destAgentType" class="form-control"
                                        ng-options="agentType as agentType.text for agentType in SMSC_AGENT_TYPE">
                                    <option value="">-- {{ 'CommonLabels.SelectOne' | translate }} --</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-4" ng-if="dateFilter.destAgentType.type_key === 1">
                                <select id="destAgent" name="destAgent" ng-model="dateFilter.destAgent" class="form-control"
                                        ng-options="smppApplication as smppApplication.label for smppApplication in smppApplicationList">
                                    <option value="">-- {{ 'CommonLabels.SelectOne' | translate }} --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="result" class="col-md-2 col-sm-3 control-label text-right">{{ 'Products.SMSC.Troubleshooting.FilterForm.DeliveryStatus.Label' | translate }}</label>
                            <div class="col-md-3 col-sm-4">
                                <select id="result" name="result" ng-model="dateFilter.result"
                                        class="form-control">
                                    <option value="">{{ 'CommonLabels.All' | translate }}</option>
                                    <option value="0" ng-if="recordType === 'permanent'">{{ 'CommonLabels.Delivered' | translate }}</option>
                                    <option value="1">{{ 'CommonLabels.Undelivered' | translate }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 col-sm-3">&nbsp;</label>
                            <div class="col-md-3 col-sm-4">
                                <button class="btn btn-sm btn-secondary" ng-disabled="filterForm.$invalid"
                                        ng-click="throttledReloadTable();"><i class="fa fa-search"></i>
                                    {{'CommonLabels.Search' | translate }}
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </form>

        </div>
    </div>
</div>

<div ui-view="permanentTable"></div>
<div ui-view="transientTable"></div>
