<div class="modal-header">
    <h4 class="modal-title">
        {{ 'Products.SMSC.Troubleshooting.MessageContent.PageHeader' | translate:{ origAddress: edrRecord.origAddress, destAddress: edrRecord.destAddress } }}
    </h4>
</div>

<div class="modal-body buttons-portlet-body">

    <div class="details-modal" style="height: 220px;">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="portlet portlet-boxed">
                    <div class="portlet-header">
                        <h4 class="portlet-title">
                            {{ 'Products.SMSC.Troubleshooting.MessageContent.Content' | translate }}
                            <span ng-click="toggleEntireMessage()" ng-if="(edrRecord.partTotal > 1)" style="cursor: pointer;"
                                  title="{{ (isEntireMessage ? 'CommonLabels.HideEntireMessage' : 'CommonLabels.ShowEntireMessage') | translate }}">
                                <i class="fa" ng-class="{ 'fa-plus-square-o': !isEntireMessage, 'fa-minus-square-o': isEntireMessage }"></i>
                            </span>
                        </h4>
                    </div>
                    <div class="portlet-body">
                        <span ng-bind-html="msgContent" style="overflow: auto;height: 95px;display: block;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">{{'CommonLabels.Close' | translate}}</button>
</div>