<div class="modal-header">
    <h4 class="modal-title">
        {{ 'Subsystems.Provisioning.UserGroups.UserAccountsModalTitle' | translate:{userGroupName: userGroup.name} }}
    </h4>
</div>

<div class="modal-body buttons-portlet-body">
    <div class="row">
        <div class="col-md-8 col-xs-6">
            <span ng-repeat="n in selectedItems" ng-if="selectedItems.length">
                <div class="modal-option-selection">
                    <span class="label label-success">{{n.userName}}&nbsp;&nbsp;
                        <a href="javascript:;" ng-click="removeFromSelection(n);"><i class="fa fa-times-circle"></i></a>
                    </span>
                </div>
            </span>
            <span ng-if="selectedItems.length === 0">
                {{ 'CommonMessages.SelectTableRecord' | translate }}
            </span>
        </div>

        <div class="col-md-4 col-xs-6">
            <form class="mainnav-form">
                <input type="text" class="form-control input-sm pull-right mainnav-search-query"
                       ng-model="filterText" ng-change="filterTable(filterText, ['userName'])"
                       placeholder="{{ 'CommonLabels.SearchByName' | translate }}...">
                <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table ng-table="tableParams" class="table table-striped table-bordered"
                       template-pagination="ngTableCustomPager.html">
                    <tr ng-repeat="user in $data" class="hidden-link-cell-row selected-table-row"
                        ng-click="addToSelection(user)">
                        <td align="center" data-title="'Subsystems.Provisioning.UserAccounts.Id' | translate" sortable="'id'">{{user.id}}</td>
                        <td align="center" data-title="'Subsystems.Provisioning.UserAccounts.UserName' | translate" sortable="'userName'">{{user.userName}}</td>
                        <td align="center" data-title="'GenericFormFields.Organization.Label' | translate" sortable="'organization.name'">{{user.organization.name}}</td>
                        <td align="center" data-title="'Subsystems.Provisioning.UserAccounts.State' | translate" sortable="'state'">{{user.state}}</td>
                    </tr>
                    <tr ng-if="$data.length === 0">
                        <td colspan="4" class="text-center">{{ 'CommonMessages.EmptyTable' | translate }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{'CommonLabels.Save' | translate}}</button>
    <button class="btn btn-default" ng-click="cancel()">{{'CommonLabels.Cancel' | translate}}</button>
</div>