<div class="modal-header">
    <h4 class="modal-title">
        {{ titleKey | translate:{name: itemName} }}
    </h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table ng-table="tableParams" class="table table-striped table-bordered"
                       template-pagination="ngTableCustomPagerEmpty.html">
                    <thead>
                    <tr>
                        <th>{{ 'Subsystems.Provisioning.Permissions.Operation' | translate }}</th>
                        <th>{{ 'Subsystems.Provisioning.Permissions.Grant' | translate }}</th>
                        <th>{{ 'Subsystems.Provisioning.Permissions.Deny' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="resource in $groups" ng-init="resource.$hideRows=true">
                    <tr class="ng-table-group">
                        <td colspan="{{$columns.length}}">
                            <a href="" ng-click="resource.$hideRows = !resource.$hideRows">
                                <span class="fa" ng-class="{ 'fa-chevron-right': resource.$hideRows, 'fa-chevron-down': !resource.$hideRows }"></span>
                                <strong>{{ resource.value }}</strong>
                            </a>
                        </td>
                        <td class="text-center">
                            <input type="checkbox" ng-model="resource.data[0].resourceGranted"
                                   ng-click="grantAllOperations(resource)" ng-disabled="!AuthorizationService.canCmpfOperationsUserGroupUpdate()"
                                   ui-indeterminate="!resource.data[0].resourceGranted && isAnyGranted(resource.data)">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" ng-model="resource.data[0].resourceDenied"
                                   ng-click="denyAllOperations(resource)" ng-disabled="!AuthorizationService.canCmpfOperationsUserGroupUpdate()"
                                   ui-indeterminate="!resource.data[0].resourceDenied && isAnyDenied(resource.data)">
                        </td>
                    </tr>
                    <tr ng-hide="resource.$hideRows" ng-repeat="item in resource.data">
                        <td sortable="operationName" data-title="'OperationName'">
                            {{item.operationName}}
                        </td>
                        <td class="text-center">
                            <input type="checkbox" ng-model="item.operationGranted"
                                   ng-disabled="!AuthorizationService.canCmpfOperationsUserGroupUpdate()"
                                   ng-click="grantOperation(resource, item)">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" ng-model="item.operationDenied"
                                   ng-disabled="!AuthorizationService.canCmpfOperationsUserGroupUpdate()"
                                   ng-click="denyOperation(resource, item)">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="!AuthorizationService.canCmpfOperationsUserGroupUpdate()">{{'CommonLabels.Save' | translate}}</button>
    <button class="btn btn-default" ng-click="cancel()">{{'CommonLabels.Cancel' | translate}}</button>
</div>