<div class="row">

    <div class="col-md-12">

        <h3 class="page-title">
            <span translate="{{$state.current.data.title}}" translate-compile></span>
            <i class="fa fa-spinner fa-spin pull-right title-spinner" ng-show="showTitleSpinner"></i>
        </h3>

        <ul class="nav nav-tabs">
            <li ng-class="{ 'active': $state.includes('subsystems.provisioning.dashboards') }" ng-if="AuthorizationService.canAllDashboardRead()">
                <a ui-sref="subsystems.provisioning.dashboards" data-toggle="tab">
                    <span class="fa fa-dashboard"></span> {{ 'GenericTabs.Dashboards' | translate }}
                </a>
            </li>

            <li ng-class="{ 'active': $state.includes('subsystems.provisioning.operations') }" ng-if="AuthorizationService.canCmpfOperationsServiceProviderRead()">
                <a ui-sref="subsystems.provisioning.operations.organizations.providers.list" data-toggle="tab">
                    <span class="fa fa-gears"></span> {{ 'GenericTabs.Operations' | translate }}
                </a>
            </li>
        </ul>

        <div class="row" ui-view>
        </div>

    </div>

</div>
