<form id="filterForm" name="filterForm" method="post" enctype="multipart/form-data" class="form-horizontal parsley-form" novalidate>
    <div class="portlet portlet-boxed">
        <div class="portlet-body">

            <div class="form-group">
                <label for="startDate" class="col-md-2 col-sm-3 control-label text-right">{{ 'GenericFormFields.StartDateAndTime.Label' | translate }}</label>
                <div class="col-md-3 col-sm-4">
                    <div id="startDate" class="input-group date datepicker-field">
                        <input id="startDate" name="startDate" type="text" class="form-control input-sm"
                               ng-model="dateFilter.startDate" uib-datepicker-popup="{{dateFormat}}"
                               ng-change="updateStartDate(dateFilter.startDate)"
                               ng-focus="openStartDatePicker($event)"
                               min-max-check is-open="startDatePicker.opened"
                               max-date="dateFilter.endDate" datepicker-options="dateOptions"
                               ng-required="true"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm"
                                    ng-click="openStartDatePicker($event)"><i
                                    class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                    <ul ng-class="{ 'parsley-error-list': filterForm.startDate.$dirty && filterForm.startDate.$invalid }" ng-show="filterForm.startDate.$dirty && filterForm.startDate.$invalid">
                        <li class="required" ng-show="filterForm.startDate.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                        <li class="required" ng-show="filterForm.startDate.$error.parse">{{ 'GenericFormFields.StartDateAndTime.Messages.Invalid' | translate }}</li>
                        <li class="required" ng-show="filterForm.startDate.$error.maxDateExceeded">{{ 'GenericFormFields.StartDateAndTime.Messages.MaxDateExceeded' | translate }}</li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-4">
                    <div uib-timepicker ng-model="dateFilter.startTime" class="time-picker with-date-picker"
                         hour-step="hstep" minute-step="mstep"
                         show-meridian="false" readonly-input="true" mousewheel="false"
                         ng-change="updateStartDateTime(dateFilter.startTime)"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="endDate" class="col-md-2 col-sm-3 control-label text-right">{{ 'GenericFormFields.EndDateAndTime.Label' | translate }}</label>
                <div class="col-md-3 col-sm-4">
                    <div id="endDate" class="input-group date datepicker-field">
                        <input id="endDate" name="endDate" type="text" class="form-control input-sm"
                               ng-model="dateFilter.endDate" uib-datepicker-popup="{{dateFormat}}"
                               ng-change="updateEndDate(dateFilter.endDate)"
                               ng-focus="openEndDatePicker($event)"
                               min-max-check is-open="endDatePicker.opened"
                               min-date="dateFilter.startDate" datepicker-options="dateOptions"
                               ng-required="true"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm"
                                    ng-click="openEndDatePicker($event)"><i
                                    class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                    <ul ng-class="{ 'parsley-error-list': filterForm.endDate.$dirty && filterForm.endDate.$invalid }" ng-show="filterForm.endDate.$dirty && filterForm.endDate.$invalid">
                        <li class="required" ng-show="filterForm.endDate.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                        <li class="required" ng-show="filterForm.endDate.$error.parse">{{ 'GenericFormFields.EndDateAndTime.Messages.Invalid' | translate }}</li>
                        <li class="required" ng-show="filterForm.endDate.$error.minDateExceeded">{{ 'GenericFormFields.EndDateAndTime.Messages.MinDateExceeded' | translate }}</li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-4">
                    <div uib-timepicker ng-model="dateFilter.endTime" class="time-picker with-date-picker"
                         hour-step="hstep" minute-step="mstep"
                         show-meridian="false" readonly-input="true" mousewheel="false"
                         ng-change="updateEndDateTime(dateFilter.endTime)"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="origAddress" class="col-md-2 col-sm-3 control-label text-right">{{ 'Products.MessagingGw.Troubleshooting.FilterForm.OrigAddress' | translate }}</label>
                <div class="col-md-3 col-sm-4">
                    <input type="text" class="form-control input-sm" id="origAddress" name="origAddress"
                           ng-model="dateFilter.origAddress" placeholder="{{ 'CommonLabels.SubscriberMsisdnPlaceholder' | translate }}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="destAddress" class="col-md-2 col-sm-3 control-label text-right">{{ 'Products.MessagingGw.Troubleshooting.FilterForm.DestAddress' | translate }}</label>
                <div class="col-md-3 col-sm-4">
                    <input type="text" class="form-control input-sm" id="destAddress" name="destAddress"
                           ng-model="dateFilter.destAddress" placeholder="{{ 'CommonLabels.SubscriberMsisdnPlaceholder2' | translate }}"/>
                </div>
            </div>

            <div class="form-group">
                <label for="origAgentType" class="col-md-2 col-sm-3 control-label text-right">{{ 'Products.MessagingGw.Troubleshooting.FilterForm.OrigAgent' | translate }}</label>
                <div class="col-md-3 col-sm-4">
                    <select id="origAgentType" name="origAgentType" ng-model="dateFilter.origAgentType" class="form-control"
                            ng-options="agentType.type_key as agentType.text for agentType in MSGGW_SMSC_AGENT_TYPES"
                            ng-change="dateFilter.origAgent = null">
                        <option value="">{{ 'CommonLabels.All' | translate }}</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-4" ng-if="dateFilter.origAgentType === 1">
                    <div class="input-group">
                        <ui-select id="origAgent" name="origAgent" theme="bootstrap" allow-clear="true" append-to-body="true"
                                   ng-model="dateFilter.origAgent"
                                   close-on-select="true">
                            <ui-select-match placeholder="{{ 'CommonLabels.SelectFromTheList' | translate }}">
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="smscApplicationtem.id as smscApplicationtem in (allSMSCApplications | filter: $select.search) track by smscApplicationtem.id">
                                <div ng-bind-html="smscApplicationtem.name | highlight: $select.search"></div>
                                <small>
                                    Organization: {{(smscApplicationtem.organization.name ? smscApplicationtem.organization.name : 'N/A')}}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="dateFilter.origAgent = null;" class="btn btn-default" ng-disabled="!dateFilter.origAgent">
                                <span class="fa fa-times"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="destAgentType" class="col-md-2 col-sm-3 control-label text-right">{{ 'Products.MessagingGw.Troubleshooting.FilterForm.DestAgent' | translate }}</label>
                <div class="col-md-3 col-sm-4">
                    <select id="destAgentType" name="destAgentType" ng-model="dateFilter.destAgentType" class="form-control"
                            ng-options="agentType.type_key as agentType.text for agentType in MSGGW_SMSC_AGENT_TYPES"
                            ng-change="dateFilter.destAgent = null">
                        <option value="">{{ 'CommonLabels.All' | translate }}</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-4" ng-if="dateFilter.destAgentType === 1">
                    <div class="input-group">
                        <ui-select id="destAgent" name="destAgent" theme="bootstrap" allow-clear="true" append-to-body="true"
                                   ng-model="dateFilter.destAgent"
                                   close-on-select="true">
                            <ui-select-match placeholder="{{ 'CommonLabels.SelectFromTheList' | translate }}">
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="smscApplicationtem.id as smscApplicationtem in (allSMSCApplications | filter: $select.search) track by smscApplicationtem.id">
                                <div ng-bind-html="smscApplicationtem.name | highlight: $select.search"></div>
                                <small>
                                    Organization: {{(smscApplicationtem.organization.name ? smscApplicationtem.organization.name : 'N/A')}}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="dateFilter.destAgent = null;" class="btn btn-default" ng-disabled="!dateFilter.destAgent">
                                <span class="fa fa-times"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="result" class="col-md-2 col-sm-3 control-label text-right">{{ 'Products.MessagingGw.Troubleshooting.FilterForm.DeliveryStatus' | translate }}</label>
                <div class="col-md-3 col-sm-4">
                    <select id="result" name="result" ng-model="dateFilter.result" class="form-control">
                        <option value="">{{ 'CommonLabels.All' | translate }}</option>
                        <option value="0">{{ 'CommonLabels.Delivered' | translate }}</option>
                        <option value="1">{{ 'CommonLabels.Undelivered' | translate }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 col-sm-3">&nbsp;</label>
                <div class="col-md-3 col-sm-4">
                    <button class="btn btn-sm btn-secondary" ng-disabled="filterForm.$invalid"
                            ng-click="throttledReloadTable();"><i class="fa fa-search"></i>
                        {{'CommonLabels.Search' | translate }}
                    </button>
                </div>
            </div>

        </div>
    </div>
</form>
