<div class="portlet-header">
    <h4 class="portlet-title">
        {{ 'Subsystems.BusinessManagement.Operations.Projects.Title' | translate }}
    </h4>
</div>

<div class="portlet-body buttons-portlet-body">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-5">
            <div class="pull-left">
                <button class="btn btn-secondary btn-sm"
                        ui-sref="subsystems.businessmanagement.operations.projects.new"
                        ng-disabled="!AuthorizationService.canBizOperationsProjectCreate()">
                    <i class="fa fa-plus"></i> {{ 'CommonLabels.AddNewEntry' | translate }}
                </button>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="pull-right">
                <div class="btn-group" ng-show="projectList.tableParams.total() > 0">
                    <button type="button" ng-click="csv.download($state.current.data.exportFileName, projectList.list)" class="btn btn-sm btn-default">{{ 'Export.CSV' | translate }}</button>
                    <button type="button" ng-click="xls.download($state.current.data.exportFileName, projectList.list)" class="btn btn-sm btn-default">{{ 'Export.Excel' | translate }}</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4">
            <form class="mainnav-form">
                <input type="text" class="form-control input-sm pull-right mainnav-search-query"
                       ng-model="filterText" ng-change="filterTable(filterText, ['profileId', 'Name', 'Status'])"
                       placeholder="{{ 'CommonLabels.Search' | translate }}...">
                <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>

<div class="portlet-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table ng-table="projectList.tableParams" class="table table-striped table-bordered"
                       template-pagination="ngTableCustomPager.html"
                       export-csv="csv" export-xls="xls"
                       export-options="exportOptions">
                    <tr ng-repeat="data in $data" class="hidden-link-cell-row"
                        ng-class="{ 'row-selected': data.rowSelected }">
                        <td align="center" data-title="'Subsystems.BusinessManagement.Operations.Projects.Id' | translate" sortable="'profileId'">{{data.profileId}}</td>
                        <td align="center" data-title="'Subsystems.BusinessManagement.Operations.Projects.Name' | translate" sortable="'Name'">{{data.Name}}</td>
                        <td align="center" data-title="'CommonLabels.State' | translate" sortable="'Status'">{{data.Status}}</td>
                        <td align="center" data-title="'CommonLabels.Actions' | translate">
                            <button ui-sref="subsystems.businessmanagement.operations.projects.update({ id : data.profileId })"
                                    class="btn btn-xs btn-secondary"
                                    title="{{ AuthorizationService.canBizOperationsProjectUpdate() ? ('CommonLabels.Update' | translate) : ('CommonLabels.View' | translate) }}">
                                <i class="fa fa-edit" ng-if="AuthorizationService.canBizOperationsProjectUpdate()"></i>
                                <i class="fa fa-square-o" ng-if="!AuthorizationService.canBizOperationsProjectUpdate()"></i>
                            </button>
                            <button ng-click="viewUserAccounts(data)" class="btn btn-xs btn-default"
                                    title="{{ 'Subsystems.BusinessManagement.Operations.Projects.ShowUserAccounts' | translate }}">
                                <i class="fa fa-bars"></i>
                            </button>
                            <button ng-click="remove(data)" class="btn btn-xs btn-danger"
                                    title="{{ 'CommonLabels.Remove' | translate }}"
                                    ng-disabled="!AuthorizationService.canBizOperationsProjectDelete()">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    <tr ng-if="$data.length === 0">
                        <td colspan="4" class="text-center">{{ 'CommonMessages.EmptyTable' | translate }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>