<div class="modal-header">
    <h4 class="modal-title">
        {{ 'PartnerInfo.Services.ServiceProfile.TemplateAttributes.AlertTemplateProfile.ModalTitle' | translate:{name: itemName} }}
    </h4>
</div>

<div class="modal-body">

    <form class="form-horizontal parsley-form" novalidate id="templateAttributesForm" name="templateAttributesForm" method="post" enctype="multipart/form-data">

        <div class="form-group" ng-if="service.serviceProfile.Template === 'ALERTS'">
            <label class="col-md-3">{{ 'PartnerInfo.Services.ServiceProfile.TemplateAttributes.AlertTemplateProfile.IsDynamicContent' | translate }}</label>
            <div class="col-md-7">
                <div class="btn-group">
                    <button class="btn {{alertTemplateProfile.IsDynamicContent?'btn-primary active':'btn-default'}} btn-sm"
                            ng-disabled="(service.id ? !AuthorizationService.canPrmServiceUpdate(service.state) : !AuthorizationService.canPrmServiceCreate())"
                            ng-model="alertTemplateProfile.IsDynamicContent" uib-btn-radio="true">{{ 'CommonLabels.Yes' | translate }}</button>
                    <button class="btn {{!alertTemplateProfile.IsDynamicContent?'btn-primary active':'btn-default'}} btn-sm"
                            ng-disabled="(service.id ? !AuthorizationService.canPrmServiceUpdate(service.state) : !AuthorizationService.canPrmServiceCreate())"
                            ng-model="alertTemplateProfile.IsDynamicContent" uib-btn-radio="false">{{ 'CommonLabels.No' | translate }}</button>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="service.serviceProfile.Template === 'ALERTS' && alertTemplateProfile.IsDynamicContent">
            <label for="DynamicContentURL" class="col-md-3">{{ 'PartnerInfo.Services.ServiceProfile.TemplateAttributes.AlertTemplateProfile.DynamicContentURL' | translate }}</label>
            <div class="col-md-7">
                <input id="DynamicContentURL" name="DynamicContentURL" type="url" class="form-control" placeholder="{{ 'CommonLabels.UrlPlaceholder' | translate }}"
                       ng-model="alertTemplateProfile.DynamicContentURL"
                       ng-maxlength="250" maxlength="250"
                       ng-required="true"
                       ng-disabled="(service.id ? !AuthorizationService.canPrmServiceUpdate(service.state) : !AuthorizationService.canPrmServiceCreate())"/>
                <ul ng-class="{ 'parsley-error-list': templateAttributesForm.DynamicContentURL.$dirty && templateAttributesForm.DynamicContentURL.$invalid }"
                    ng-show="templateAttributesForm.DynamicContentURL.$dirty && templateAttributesForm.DynamicContentURL.$invalid">
                    <li class="required" ng-show="templateAttributesForm.DynamicContentURL.$error.url">{{ 'CommonMessages.InvalidURL' | translate }}</li>
                    <li class="required" ng-show="templateAttributesForm.DynamicContentURL.$error.maxlength">{{ 'CommonMessages.MaxLengthError' | translate:{max_length: 250} }}</li>
                    <li class="required" ng-show="templateAttributesForm.DynamicContentURL.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'PartnerInfo.Services.ServiceProfile.TemplateAttributes.AlertTemplateProfile.IsTriggerSending' | translate }}</label>
            <div class="col-md-7">
                <div class="btn-group">
                    <button class="btn {{alertTemplateProfile.IsTriggerSending?'btn-primary active':'btn-default'}} btn-sm"
                            ng-disabled="(service.id ? !AuthorizationService.canPrmServiceUpdate(service.state) : !AuthorizationService.canPrmServiceCreate())"
                            ng-model="alertTemplateProfile.IsTriggerSending" uib-btn-radio="true">{{ 'CommonLabels.Yes' | translate }}</button>
                    <button class="btn {{!alertTemplateProfile.IsTriggerSending?'btn-primary active':'btn-default'}} btn-sm"
                            ng-disabled="(service.id ? !AuthorizationService.canPrmServiceUpdate(service.state) : !AuthorizationService.canPrmServiceCreate())"
                            ng-model="alertTemplateProfile.IsTriggerSending" uib-btn-radio="false">{{ 'CommonLabels.No' | translate }}</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="AlertScheduling" class="col-md-3">{{ 'PartnerInfo.Services.ServiceProfile.TemplateAttributes.AlertTemplateProfile.AlertScheduling' | translate }}</label>
            <div class="col-md-7">
                <select id="AlertScheduling" name="AlertScheduling" class="form-control"
                        ng-model="alertTemplateProfile.AlertScheduling"
                        ng-required="true"
                        ng-options="serviceAlertScheduling as serviceAlertScheduling for serviceAlertScheduling in SERVICE_ALERT_SCHEDULING_TYPES"
                        ng-disabled="(service.id ? !AuthorizationService.canPrmServiceUpdate(service.state) : !AuthorizationService.canPrmServiceCreate())">
                    <option value="">-- {{ 'CommonLabels.SelectOne' | translate }} --</option>
                </select>
                <ul ng-class="{ 'parsley-error-list': templateAttributesForm.AlertScheduling.$dirty && templateAttributesForm.AlertScheduling.$invalid }"
                    ng-show="templateAttributesForm.AlertScheduling.$dirty && templateAttributesForm.AlertScheduling.$invalid">
                    <li class="required" ng-show="templateAttributesForm.AlertScheduling.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                </ul>
            </div>
        </div>

        <div ng-if="alertTemplateProfile.AlertScheduling === 'SCHEDULED'">
            <div class="form-group">
                <label for="CyclePeriod" class="col-md-3">{{ 'PartnerInfo.Services.ServiceProfile.TemplateAttributes.AlertTemplateProfile.CyclePeriod' | translate }}</label>
                <div class="col-md-5">
                    <select id="CyclePeriod" name="CyclePeriod" class="form-control"
                            ng-model="alertTemplateProfile.CyclePeriod"
                            ng-required="true"
                            ng-options="serviceCyclePeriod as serviceCyclePeriod for serviceCyclePeriod in SERVICE_CYCLE_PERIODS"
                            ng-disabled="(service.id ? !AuthorizationService.canPrmServiceUpdate(service.state) : !AuthorizationService.canPrmServiceCreate())">
                        <option value="">-- {{ 'CommonLabels.SelectOne' | translate }} --</option>
                    </select>
                    <ul ng-class="{ 'parsley-error-list': templateAttributesForm.CyclePeriod.$dirty && templateAttributesForm.CyclePeriod.$invalid }"
                        ng-show="templateAttributesForm.CyclePeriod.$dirty && templateAttributesForm.CyclePeriod.$invalid">
                        <li class="required" ng-show="templateAttributesForm.CyclePeriod.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                    </ul>
                </div>
            </div>

            <div class="form-group" ng-if="alertTemplateProfile.CyclePeriod === 'WEEK'">
                <label class="col-md-3">{{ 'PartnerInfo.Services.ServiceProfile.TemplateAttributes.AlertTemplateProfile.DaysOfWeek' | translate }}</label>
                <div class="col-md-7">
                    <div class="btn-group">
                        <button class="btn btn-sm ng-dirty {{dummyDaysOfWeek[$index] ? 'btn-primary active' : 'btn-default'}}"
                               ng-class="{ 'ng-invalid-required': ($index === 0 && (!alertTemplateProfile.DaysOfWeek || alertTemplateProfile.DaysOfWeek.length === 0)) }"
                               ng-repeat="dayOfWeek in DAYS_OF_WEEK"
                               ng-model="dummyDaysOfWeek[$index]"
                               ng-click="toggleDaysOfWeek(dayOfWeek.abbr, dummyDaysOfWeek[$index])"
                               uib-btn-checkbox
                               ng-disabled="(service.id ? !AuthorizationService.canPrmServiceUpdate(service.state) : !AuthorizationService.canPrmServiceCreate())">{{ dayOfWeek.abbr }}</button>
                    </div>
                    <div style="clear: both;">
                        <input name="daysOfWeekLength" type="number" class="form-control"
                               ng-value="dummyDaysOfWeekLength"
                               ng-model="alertTemplateProfile.DaysOfWeek.length"
                               ng-min="1" ng-required="true"
                               ng-show="false"/>
                        <ul ng-class="{ 'parsley-error-list': alertTemplateProfile.DaysOfWeek.length === 0 }"
                            ng-show="alertTemplateProfile.DaysOfWeek.length === 0">
                            <li class="required" ng-show="templateAttributesForm.daysOfWeekLength.$error.min">{{ 'PartnerInfo.Services.ServiceProfile.TemplateAttributes.Messages.RequiredDaysOfWeekError' | translate }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="alertTemplateProfile.CyclePeriod === 'MONTH'">
                <label name="DaysOfMonth" class="col-md-3">{{ 'PartnerInfo.Services.ServiceProfile.TemplateAttributes.AlertTemplateProfile.AddDaysOfMonth' | translate }}</label>
                <div class="col-md-7">
                    <div>
                        <select id="DaysOfMonth" name="DaysOfMonth" class="form-control input-sm" style="width: 158px;display: inline-block;"
                                ng-model="dayOfMonth"
                                ng-options="dayOfMonth as dayOfMonth for dayOfMonth in daysOfMonth"
                                ng-disabled="(service.id ? !AuthorizationService.canPrmServiceUpdate(service.state) : !AuthorizationService.canPrmServiceCreate())">
                        </select>&nbsp;&nbsp;
                        <button class="btn btn-sm btn-primary ng-dirty" style="margin-top: -3px;display: inline-block;"
                                ng-class="{ 'ng-invalid-required': (!alertTemplateProfile.DaysOfMonth || alertTemplateProfile.DaysOfMonth.length === 0) }"
                                ng-disabled="alertTemplateProfile.DaysOfMonth.length >= 15"
                                ng-click="addDayOfMonth(dayOfMonth)">
                            {{ 'CommonLabels.Add' | translate }}
                        </button>
                    </div>
                    <div style="clear: both;">
                        <input name="daysOfMonthLength" type="number" class="form-control"
                               ng-model="alertTemplateProfile.DaysOfMonth.length"
                               ng-min="1" ng-required="true"
                               ng-show="false"/>
                        <ul ng-class="{ 'parsley-error-list': alertTemplateProfile.DaysOfMonth.length === 0 }"
                            ng-show="alertTemplateProfile.DaysOfMonth.length === 0">
                            <li class="required" ng-show="templateAttributesForm.daysOfMonthLength.$error.min">{{ 'PartnerInfo.Services.ServiceProfile.TemplateAttributes.Messages.RequiredDaysOfMonthError' | translate }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="alertTemplateProfile.CyclePeriod === 'MONTH' && alertTemplateProfile.DaysOfMonth.length > 0">
                <label class="col-md-3">{{ 'PartnerInfo.Services.ServiceProfile.TemplateAttributes.AlertTemplateProfile.DaysOfMonth' | translate }}</label>
                <div class="col-md-7">
                    <div class="row">
                        <div ng-repeat="n in alertTemplateProfile.DaysOfMonth" class="col-md-4">
                            <span class="label label-default selected-item-label">{{n}}</span>
                            <a ng-click="removeDayOfMonth(n)" style="cursor: pointer;"
                               ng-if="(service.id ? AuthorizationService.canPrmServiceUpdate(service.state) : AuthorizationService.canPrmServiceCreate())">
                                <span class="label label-danger"><i class="fa fa-times"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="alertTemplateProfile.CyclePeriod">
                <label for="timeOfDay" class="col-md-3">{{ 'PartnerInfo.Services.ServiceProfile.TemplateAttributes.AlertTemplateProfile.AddTimesOfDay' | translate }}</label>
                <div class="col-md-7">
                    <span class="time-picker with-date-picker">
                        <div uib-timepicker id="timeOfDay" name="timeOfDay"
                             ng-model="timeOfDay"
                             hour-step="1" minute-step="1" second-step="1"
                             show-seconds="true" show-meridian="false"></div>
                    </span>&nbsp;&nbsp;
                    <button class="btn btn-sm btn-primary ng-dirty"
                            ng-class="{ 'ng-invalid-required': (!alertTemplateProfile.TimesOfDay || alertTemplateProfile.TimesOfDay.length === 0) }"
                            ng-disabled="alertTemplateProfile.TimesOfDay.length >= 10"
                            ng-click="addTime(timeOfDay)">
                        {{ 'CommonLabels.Add' | translate }}
                    </button>
                    <div style="clear: both;">
                        <input name="timesOfDayLength" type="number" class="form-control"
                               ng-model="alertTemplateProfile.TimesOfDay.length"
                               ng-min="1" ng-required="true"
                               ng-show="false"/>
                        <ul ng-class="{ 'parsley-error-list': alertTemplateProfile.TimesOfDay.length === 0 }"
                            ng-show="alertTemplateProfile.TimesOfDay.length === 0">
                            <li class="required" ng-show="templateAttributesForm.timesOfDayLength.$error.min">{{ 'PartnerInfo.Services.ServiceProfile.TemplateAttributes.Messages.RequiredTimesOfDayError' | translate }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="alertTemplateProfile.TimesOfDay.length > 0">
                <label class="col-md-3">{{ 'PartnerInfo.Services.ServiceProfile.TemplateAttributes.AlertTemplateProfile.TimesOfDay' | translate }}</label>
                <div class="col-md-7">
                    <div class="row">
                        <div ng-repeat="n in alertTemplateProfile.TimesOfDay" class="col-md-4">
                            <span class="label label-default selected-item-label">{{n}}</span>
                            <a ng-click="removeTime(n)" style="cursor: pointer;"
                               ng-if="(service.id ? AuthorizationService.canPrmServiceUpdate(service.state) : AuthorizationService.canPrmServiceCreate())">
                                <span class="label label-danger"><i class="fa fa-times"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>

<div class="modal-footer">
    <button type="submit" class="btn btn-danger"
            ng-disabled="templateAttributesForm.$invalid || (service.id ? !AuthorizationService.canPrmServiceUpdate(service.state) : !AuthorizationService.canPrmServiceCreate()) || isNotChanged()"
            ng-click="save(alertTemplateProfile, templateAttributesForm);">
        {{ 'CommonLabels.Save' | translate }}
    </button>
    <button type="reset" class="btn btn-default" ng-click="close();">
        {{ 'CommonLabels.Close' | translate }}
    </button>
</div>