<div class="portlet-header">
    <h4 class="portlet-title">
        {{ 'Services.MCA.Configuration.AnnTitle' | translate }}
    </h4>
</div>
<form class="form-horizontal" novalidate id="configurationForm" name="configurationForm" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label class="col-md-3">{{ 'Services.MCA.Configuration.NotifyMe.ANNEnabled' | translate }}</label>
        <div class="col-md-7">
            <div class="btn-group">
               <button type="button" class="btn {{annConfiguration.ANNEnabled?'btn-primary active':'btn-default'}} btn-sm" ng-model="annConfiguration.ANNEnabled" uib-btn-radio="true" ng-disabled="!AuthorizationService.canUpdateConfiguration()" >{{ 'CommonLabels.Yes' | translate }}</button>
               <button type="button" class="btn {{!annConfiguration.ANNEnabled?'btn-primary active':'btn-default'}} btn-sm" ng-model="annConfiguration.ANNEnabled" uib-btn-radio="false"  ng-disabled="!AuthorizationService.canUpdateConfiguration()" >{{ 'CommonLabels.No' | translate }}</button>
            </div>
        </div>
    </div>

    <div class="form-group" ng-show="annConfiguration.ANNEnabled">
        <label class="col-md-3">{{ 'Services.MCA.Configuration.ANNSetUnsetSMSEnabled' | translate }}</label>
        <div class="col-md-7">
            <div class="btn-group">
               <button type="button" class="btn {{annConfiguration.ANNSetUnsetSMSEnabled?'btn-primary active':'btn-default'}} btn-sm" ng-model="annConfiguration.ANNSetUnsetSMSEnabled" uib-btn-radio="true" ng-disabled="!AuthorizationService.canUpdateConfiguration()" >{{ 'CommonLabels.Yes' | translate }}</button>
               <button type="button" class="btn {{!annConfiguration.ANNSetUnsetSMSEnabled?'btn-primary active':'btn-default'}} btn-sm" ng-model="annConfiguration.ANNSetUnsetSMSEnabled" uib-btn-radio="false" ng-disabled="!AuthorizationService.canUpdateConfiguration()" >{{ 'CommonLabels.No' | translate }}</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-7 col-md-push-3">
            <button type="submit" class="btn btn-danger"
                    ng-disabled="configurationForm.$invalid || !AuthorizationService.canUpdateConfiguration() || isANNConfigurationNotChanged()"
                    ng-click="save();">
                {{ 'CommonLabels.Save' | translate }}
            </button>
            <button type="reset" class="btn btn-default" ng-click="cancel();" ng-disabled="!AuthorizationService.canUpdateConfiguration()" >
                {{ 'CommonLabels.Cancel' | translate }}
            </button>
        </div>
    </div>
    
</form>