
<div class="portlet-body">

    <form class="form-horizontal parsley-form" novalidate id="form" name="form" method="post" enctype="multipart/form-data">
        <fieldset id="formFieldset">

            <div class="form-group" ng-if="diyTone.id">
                <label class="col-md-3">{{ 'Subsystems.ContentManagement.Operations.RBT.DIY.Id' | translate }}</label>
                <div class="col-md-7">
                    <input id="diyToneId" name="diyToneId" type="text" class="form-control"
                           ng-value="diyTone.id"
                           ng-disabled="true"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'CommonLabels.Msisdn' | translate }}</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" ng-model="diyTone.msisdn" id="msisdn" name="msisdn"
                           ng-maxlength="15" maxlength="15" ng-pattern="$root.Validators.Msisdn"
                           ng-required="true" required="true"
                           ng-disabled="(diyTone.id ? true : !AuthorizationService.canRBTOperationsDiyCreate())"
                           placeholder="{{ 'CommonLabels.SubscriberMsisdnPlaceholder' | translate}}" />
                    <ul ng-class="{ 'parsley-error-list': form.msisdn.$dirty && form.msisdn.$invalid }" ng-show="form.msisdn.$dirty && form.msisdn.$invalid">
                        <li class="required" ng-show="form.msisdn.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                        <li class="required" ng-show="form.msisdn.$error.pattern">{{ 'CommonMessages.InvalidPhoneNumber' | translate }}</li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label for="artistName" class="col-md-3">{{ 'Subsystems.ContentManagement.Operations.RBT.DIY.ArtistName' | translate }}</label>
                <div class="col-md-7">
                    <input id="artistName" name="artistName" type="text" class="form-control"
                           ng-model="diyTone.artistName"
                           ng-required="true" ng-maxlength="100" maxlength="100"
                           ng-disabled="(diyTone.id ? true : !AuthorizationService.canRBTOperationsDiyCreate())"/>
                    <ul ng-class="{ 'parsley-error-list': form.artistName.$dirty && form.artistName.$invalid }"
                        ng-show="form.artistName.$dirty && form.artistName.$invalid">
                        <li class="required" ng-show="form.artistName.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                        <li class="required" ng-show="form.artistName.$error.maxlength">{{ 'CommonMessages.MaxLengthError' | translate:{max_length: 100} }}</li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label for="recordName" class="col-md-3">{{ 'Subsystems.ContentManagement.Operations.RBT.DIY.RecordName' | translate }}</label>
                <div class="col-md-7">
                    <input id="recordName" name="recordName" type="text" class="form-control"
                           ng-model="diyTone.recordName"
                           ng-required="true" ng-maxlength="100" maxlength="100"
                           ng-disabled="(diyTone.id ? true : !AuthorizationService.canRBTOperationsDiyCreate())"/>
                    <ul ng-class="{ 'parsley-error-list': form.recordName.$dirty && form.recordName.$invalid }"
                        ng-show="form.recordName.$dirty && form.recordName.$invalid">
                        <li class="required" ng-show="form.recordName.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                        <li class="required" ng-show="form.recordName.$error.maxlength">{{ 'CommonMessages.MaxLengthError' | translate:{max_length: 100} }}</li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label for="status" for="status" class="col-md-3">{{ 'CommonLabels.State' | translate }}</label>
                <div class="col-md-4">
                    <select id="status" name="status" class="form-control parsley-validated"
                            ng-model="diyTone.status"
                            ng-options="status as status for status in CMS_RBT_DIY_STATUS_TYPES"
                            ng-disabled="(diyTone.id ? !AuthorizationService.canRBTOperationsDiyUpdate() : !AuthorizationService.canRBTOperationsDiyCreate())">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">
                    {{ 'Subsystems.ContentManagement.Operations.RBT.ContentMetadatas.Tones.ToneFile' | translate }}<br/>
                    <small>({{ 'FileOperationLabels.AudioFileULawEncodedExplanation' | translate }})</small>
                </label>
                <div class="col-md-7">
                    <div ng-show="!contentMetadata.toneFile.name">
                        <!-- Select button -->
                        <button name="toneFile" type="file" class="btn btn-sm btn-block btn-default"
                                title="{{ (contentMetadata.toneFile ? 'FileOperationLabels.ChangeTitle' : 'FileOperationLabels.SelectTitle') | translate }}"
                                style="width: 262px;"
                                ngf-select
                                ng-model="contentMetadata.toneFile"
                                ng-init="contentMetadata.toneFile ? contentMetadata.toneFile.name = contentMetadata.toneFile.$ngfName : null"
                                ngf-change="form.toneFile.$setDirty(); toneFileChanged(contentMetadata.toneFile);"
                                ngf-accept="'audio/wav'"
                                ngf-max-size="50MB"
                                ng-required="true"
                                ngf-model-invalid="errorToneFile"
                                ng-disabled="(diyTone.id ? true : !AuthorizationService.canRBTOperationsDiyCreate())">
                            {{ ((contentMetadata.toneFile.name) ? 'CommonLabels.SelectNewFile' : 'CommonLabels.SelectFile') | translate }}
                        </button>
                    </div>
                    <div ng-show="contentMetadata.toneFile.name">
                        <div class="fileinput-preview text-center" style="max-width: 200px;">
                            <audio id="toneFileAudio" name="toneFileAudio" class="audio-player" controls controlsList="nodownload" ngf-src="!contentMetadata.toneFile.$error && contentMetadata.toneFile"/>
                        </div>

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-default" style="cursor: text;text-overflow: ellipsis;width: 252px;overflow: hidden;white-space: nowrap;display: block;"
                                    uib-tooltip="{{contentMetadata.toneFile.name}}" tooltip-class="custom-class" tooltip-placement="top-left" tooltip-animation="false" tooltip-trigger="'mouseenter'" tooltip-append-to-body="true">
                                {{ contentMetadata.toneFile.name }}
                            </button>
                            <button class="btn btn-sm btn-danger" type="button"
                                    ng-click="contentMetadata.toneFile = null; form.toneFile.$setValidity('audioValiditiyCheck', true);"
                                    title="{{ 'CommonLabels.RemoveFile' | translate }}"
                                    ng-if="(!diyTone.id)">
                                <i class="fa fa-times"></i>
                            </button>
                            &nbsp;&nbsp;
                        </div>
                        <a class="btn btn-sm btn-success"
                           ng-if="contentMetadata.toneFile.name"
                           title="{{ 'CommonLabels.Download' | translate }}"
                           download="{{ contentMetadata.toneFile.name }}"
                           href="{{ contentMetadata.toneFile | ngfDataUrl }}" target="_blank"
                           ng-if="AuthorizationService.canCmsOperationsContentFileRead()">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </a>
                    </div>
                    <ul ng-class="{ 'parsley-error-list': form.toneFile.$dirty && form.toneFile.$invalid }"
                        ng-show="form.toneFile.$dirty && form.toneFile.$invalid">
                        <li class="required" ng-show="form.toneFile.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                        <li class="required" ng-show="form.toneFile.$error.maxSize">{{ 'FileOperationLabels.FileTooLargeError' | translate: {maxFileSize: errorToneFile.$errorParam} }}</li>
                        <li class="required" ng-show="form.toneFile.$error.audioValiditiyCheck">{{ 'FileOperationLabels.AudioFileInvalid' | translate }}</li>
                    </ul>
                </div>
            </div>

            <!--<div class="form-group" ng-if="contentMetadata.toneFile.name">
                <label for="duration" class="col-md-3">{{ 'Subsystems.ContentManagement.Operations.RBT.ContentMetadatas.Tones.Duration' | translate }}</label>
                <div class="col-md-4">
                    <input id="duration" name="duration" type="number" class="form-control" ng-model="contentMetadata.duration" ng-disabled="true" />
                </div>
            </div>-->



            <div class="form-group">
                <label class="col-md-3">{{ 'Subsystems.ContentManagement.Operations.RBT.ContentMetadatas.CoverImage' | translate }}</label>
                <div class="col-md-7">
                    <div class="fileinput fileinput-new">
                        <div class="fileinput-preview thumbnail text-center" style="max-width: 200px;" ng-if="contentMetadata.coverImage.name">
                            <img ngf-src="!contentMetadata.coverImage.$error && contentMetadata.coverImage" width="200"
                                 ng-style="{ 'height': (contentMetadata.coverImage ? '' : '200px') }"/>

                            <div class="thumbnail-footer" ng-if="contentMetadata.coverImage.type">
                                <div class="pull-left">
                                    {{ contentMetadata.coverImage.type }}
                                </div>
                            </div>
                        </div>

                        <div>
                            <button name="coverImage" type="file"
                                    title="{{ (contentMetadata.coverImage ? 'FileOperationLabels.ChangeTitle' : 'FileOperationLabels.SelectTitle') | translate }}"
                                    class="btn btn-sm btn-default"
                                    ngf-select
                                    ng-model="contentMetadata.coverImage"
                                    ng-init="contentMetadata.coverImage ? contentMetadata.coverImage.name = contentMetadata.coverImage.$ngfName : null"
                                    ngf-change="form.coverImage.$setDirty()"
                                    ngf-accept="'.jpg,.jpeg,.png,.gif'"
                                    ngf-max-size="20MB"
                                    ngf-model-invalid="errorImage"
                                    ng-disabled="(diyTone.id ? true : !AuthorizationService.canRBTOperationsDiyCreate())">
                                <i class="fa fa-image" aria-hidden="true"></i>&nbsp;&nbsp;
                                {{ (contentMetadata.coverImage.name ? 'FileOperationLabels.Change' : 'FileOperationLabels.Browse') | translate }}
                            </button>
                            <ul ng-class="{ 'parsley-error-list': form.coverImage.$dirty && form.coverImage.$invalid }"
                                ng-show="form.coverImage.$dirty && form.coverImage.$invalid">
                                <li class="required" ng-show="form.coverImage.$error.maxSize">{{ 'FileOperationLabels.FileTooLargeError' | translate: {maxFileSize: errorImage.$errorParam} }}</li>
                            </ul>
                            <div ng-if="(!diyTone.id)">
                                <button class="btn btn-sm btn-default"
                                        title="{{ 'FileOperationLabels.RemoveTitle' | translate }}"
                                        ng-click="contentMetadata.coverImage = null;"
                                        ng-if="contentMetadata.coverImage.name && (contentMetadata.id ? AuthorizationService.canRBTOperationsToneUpdate() : AuthorizationService.canRBTOperationsDiyCreate())">
                                    <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;
                                    {{ 'FileOperationLabels.Remove' | translate }}
                                </button>
                                &nbsp;&nbsp;
                                <a class="btn btn-sm btn-success"
                                   ng-if="contentMetadata.coverImage.name"
                                   title="{{ 'CommonLabels.Download' | translate }}"
                                   download="{{ contentMetadata.coverImage.name }}"
                                   href="{{ contentMetadata.coverImage | ngfDataUrl }}" target="_blank">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <h5 class="portlet-title">
                        {{ 'Subsystems.ContentManagement.Operations.RBT.ChargingDetails.Header' | translate }}
                    </h5>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="chargingPeriod" class="col-md-3">{{ 'Subsystems.ContentManagement.Operations.RBT.ChargingDetails.ChargingPeriod' | translate }}</label>
                    <div class="col-md-3">
                        <select id="chargingPeriod" name="chargingPeriod" class="form-control parsley-validated"
                                ng-model="contentMetadata.chargingDetails.chargingPeriod.duration"
                                ng-options="duration for duration in [1,7,30]"
                                ng-required="true"
                                ng-disabled="(diyTone.id ? true : !AuthorizationService.canRBTOperationsDiyCreate())">
                            <option value="">-- {{ 'CommonLabels.SelectOne' | translate }} --</option>
                        </select>
                        <ul ng-class="{ 'parsley-error-list': form.chargingPeriod.$dirty && form.chargingPeriod.$invalid }"
                            ng-show="form.chargingPeriod.$dirty && form.chargingPeriod.$invalid">
                            <li class="required" ng-show="form.chargingPeriod.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <select id="chargingPeriodUnit" name="chargingPeriodUnit" class="form-control col-md-6"
                                ng-model="contentMetadata.chargingDetails.chargingPeriod.unit"
                                ng-options="opt.key as (opt.label | translate ) for opt in DURATION_UNITS"
                                ng-disabled="(diyTone.id ? true : !AuthorizationService.canRBTOperationsDiyCreate())">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="price" class="col-md-3">{{ 'Subsystems.ContentManagement.Operations.RBT.ChargingDetails.Price' | translate }}</label>
                    <div class="col-md-4">
                        <input id="price" name="price" type="number" class="form-control"
                               ng-model="contentMetadata.chargingDetails.price"
                               ng-required="contentMetadata.subscriptionEnabled"
                               ng-min="0" ng-max="99999999"
                               ng-disabled="(diyTone.id ? true : !AuthorizationService.canRBTOperationsDiyCreate())"/>
                        <ul ng-class="{ 'parsley-error-list': form.price.$dirty && form.price.$invalid }" ng-show="form.price.$dirty && form.price.$invalid">
                            <li class="required" ng-show="form.price.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                            <li class="required" ng-show="form.price.$error.min">{{ 'CommonMessages.MinValueError' | translate:{min: 0} }}</li>
                            <li class="required" ng-show="form.price.$error.max">{{ 'CommonMessages.MaxValueError' | translate:{max: 99999999} }}</li>
                            <li class="required" ng-show="form.price.$error.number">{{ 'CommonMessages.NumericFieldError' | translate }}</li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label for="originalprice" class="col-md-3">{{ 'Subsystems.ContentManagement.Operations.RBT.ChargingDetails.OriginalPrice' | translate }}</label>
                    <div class="col-md-4">
                        <input id="originalprice" name="originalprice" type="number" class="form-control"
                               ng-model="contentMetadata.chargingDetails.originalPrice"
                               ng-min="0" ng-max="99999999"
                               ng-disabled="(diyTone.id ? true : !AuthorizationService.canRBTOperationsDiyCreate())"/>
                        <ul ng-class="{ 'parsley-error-list': form.originalprice.$dirty && form.originalprice.$invalid }" ng-show="form.originalprice.$dirty && form.originalprice.$invalid">
                            <li class="required" ng-show="form.originalprice.$error.min">{{ 'CommonMessages.MinValueError' | translate:{min: 0} }}</li>
                            <li class="required" ng-show="form.originalprice.$error.max">{{ 'CommonMessages.MaxValueError' | translate:{max: 99999999} }}</li>
                            <li class="required" ng-show="form.originalprice.$error.number">{{ 'CommonMessages.NumericFieldError' | translate }}</li>
                            <li class="required" ng-show="form.originalprice.$error.pricerange">{{ 'Subsystems.ContentManagement.Operations.RBT.ChargingDetails.Messages.OriginalPriceInvalid' | translate }}</li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label for="subscriptionCode" class="col-md-3">{{ 'Subsystems.ContentManagement.Operations.RBT.ChargingDetails.SubscriptionCode' | translate }}</label>
                    <div class="col-md-7">
                        <input id="subscriptionCode" name="subscriptionCode" type="text" class="form-control"
                               ng-model="contentMetadata.chargingDetails.subscriptionCode"
                               ng-change="setError(form, 'subscriptionCode', 'availabilityCheck', true);"
                               ng-maxlength="50" maxlength="50"
                               ng-disabled="(diyTone.id ? true : !AuthorizationService.canRBTOperationsDiyCreate())"/>
                        <ul ng-class="{ 'parsley-error-list': form.subscriptionCode.$dirty && form.subscriptionCode.$invalid }"
                            ng-show="form.subscriptionCode.$dirty && form.subscriptionCode.$invalid">
                            <li class="required" ng-show="form.subscriptionCode.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                            <li class="required" ng-show="form.subscriptionCode.$error.maxlength">{{ 'CommonMessages.MaxLengthError' | translate:{max_length: 50} }}</li>
                            <li class="required" ng-show="form.subscriptionCode.$error.availabilityCheck">{{ 'Subsystems.ContentManagement.Operations.RBT.ChargingDetails.Messages.SubscriptionCodeAvailable' | translate }}</li>
                        </ul>
                        <small ng-if="!contentMetadata.id">{{ 'Subsystems.ContentManagement.Operations.RBT.ChargingDetails.SubscriptionCodePlaceholder' | translate }}</small>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-7 col-md-push-3">
                    <button type="submit" class="btn btn-danger"
                            ng-disabled="form.$invalid || (diyTone.id ? !AuthorizationService.canRBTOperationsDiyUpdate() : !AuthorizationService.canRBTOperationsDiyCreate()) || isNotChanged()"
                            ng-click="save(diyTone);">
                        {{ 'CommonLabels.Save' | translate }}
                    </button>
                    <button type="reset" class="btn btn-default" ng-click="cancel();">
                        {{ 'CommonLabels.Cancel' | translate }}
                    </button>
                </div>
            </div>

        </fieldset>
    </form>

</div>
