<div class="portlet-header">
    <h4 class="portlet-title">
        {{ 'Products.AntiSpamSMS.Operations.SimFarmControl.PageHeader' | translate }} / {{ 'Products.AntiSpamSMS.Operations.SimFarmControl.ContentCounters.PageHeader' | translate }}
    </h4>
</div>

<div class="portlet-body buttons-portlet-body">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-5">
            <div class="pull-left">
                <button class="btn btn-secondary btn-sm" ui-sref="products.antispamsms.operations.simfarmcontrol.newcounter ({ parentName:$stateParams.parentName })"
                        ng-disabled="!AuthorizationService.canAntispamContentCountersCreate()">
                    <i class="fa fa-plus"></i>
                    {{ 'CommonLabels.AddNewEntry' | translate }}
                </button>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="pull-right">
                <div class="btn-group" ng-show="contentCountersList.tableParams.total() > 0">
                    <button type="button" ng-click="csv.download('ContentCounters', contentCountersList.list)" class="btn btn-sm btn-default">{{ 'Export.CSV' | translate }}</button>
                    <button type="button" ng-click="xls.download('ContentCounters', contentCountersList.list)" class="btn btn-sm btn-default">{{ 'Export.Excel' | translate }}</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4">
            <form class="mainnav-form">
                <input type="text" class="form-control input-sm pull-right mainnav-search-query"
                       ng-model="filterText" ng-change="filterTable(filterText, ['name', 'parentName', 'contentFilter'])"
                       placeholder="{{ 'CommonLabels.Search' | translate }}...">
                <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>

<div class="portlet-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table ng-table="contentCountersList.tableParams" class="table table-striped table-bordered"
                       template-pagination="ngTableCustomPager.html"
                       export-csv="csv" export-xls="xls"
                       export-options="exportOptions">
                    <tr ng-repeat="data in $data" class="hidden-link-cell-row"
                        uib-popover-template="'products/antispamsms/operations/operations.simfarmcontrol.contentcounters.popover.html'"
                        popover-placement="auto" popover-animation="false" popover-trigger="'mouseenter'" popover-append-to-body="true"
                        popover-title="[Counter Name = {{data.name}}]">
                        <td align="center" class="wrap" data-title="'Products.AntiSpamSMS.Operations.SimFarmControl.ContentCounters.TableColumns.Name' | translate" sortable="'name'">{{data.name}}</td>
                        <td align="center" class="wrap" data-title="'Products.AntiSpamSMS.Operations.SimFarmControl.ContentCounters.TableColumns.ParentName' | translate" sortable="'parentName'">{{data.parentName}}</td>
                        <td align="center" class="wrap" data-title="'Products.AntiSpamSMS.Operations.SimFarmControl.ContentCounters.TableColumns.ContentFilter' | translate" sortable="'contentFilter'">{{data.contentFilter}}</td>
                        <td align="center" class="wrap" data-title="'Products.AntiSpamSMS.Operations.SimFarmControl.ContentCounters.TableColumns.ContentFilterType' | translate" sortable="'contentFilterType'">{{data.contentFilterType | AntiSpamSMSContentCounterFilterTypeFilter}}</td>
                        <td align="center" class="wrap" data-title="'Products.AntiSpamSMS.Operations.SimFarmControl.ContentCounters.TableColumns.State' | translate" sortable="'state'">{{data.state}}</td>
                        <td align="center" class="action-column" data-title="'CommonLabels.Actions' | translate">
                            <button ui-sref="products.antispamsms.operations.simfarmcontrol.updatecounter ({ parentName:data.parentName, name:data.name })"
                                    class="btn btn-xs btn-secondary"
                                    title="{{ AuthorizationService.canAntispamContentCountersUpdate() ? ('CommonLabels.Update' | translate) : ('CommonLabels.View' | translate) }}">
                                <i class="fa fa-edit" ng-if="AuthorizationService.canAntispamContentCountersUpdate()"></i>
                                <i class="fa fa-square-o" ng-if="!AuthorizationService.canAntispamContentCountersUpdate()"></i>
                            </button>
                            <button ng-click="setAddressRange (data)" class="btn btn-xs btn-default"
                                    title="{{ 'Products.AntiSpamSMS.Operations.AddressRanges.SetAddressRange' | translate }}"
                                    ng-disabled="!AuthorizationService.canAntispamContentCountersUpdate()">
                                <i class="fa fa-bars"></i>
                            </button>
                            <button ng-click="remove(data)" class="btn btn-xs btn-danger"
                                    title="{{ 'CommonLabels.Remove' | translate }}"
                                    ng-disabled="!AuthorizationService.canAntispamContentCountersDelete()">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    <tr ng-if="$data.length === 0">
                        <td colspan="6" class="text-center">{{ 'CommonMessages.EmptyTable' | translate }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Detail Popover. Please use "data" for binding. -->
<script type="text/ng-template" id="products/antispamsms/operations/operations.simfarmcontrol.contentcounters.popover.html">
    <div>
        <div>
            <strong>{{ 'Products.AntiSpamSMS.Operations.SimFarmControl.ContentCounters.TableColumns.ParentName' | translate }}:</strong> {{data.parentName}} <br />
            <strong>{{ 'Products.AntiSpamSMS.Operations.SimFarmControl.ContentCounters.TableColumns.ContentFilter' | translate }}:</strong> {{data.contentFilter}} <br />
            <strong>{{ 'Products.AntiSpamSMS.Operations.SimFarmControl.ContentCounters.TableColumns.ContentFilterType' | translate }}:</strong> {{data.contentFilterType | AntiSpamSMSContentCounterFilterTypeFilter}}<br />
            <strong>{{ 'Products.AntiSpamSMS.Operations.SimFarmControl.ContentCounters.TableColumns.State' | translate }}:</strong> {{data.state}}<br />
        </div>
    </div>
</script>
