<div class="portlet-header">
    <h4 class="portlet-title" active-loading-indicator>
        {{ 'CommonLabels.RBT' | translate }} / {{ 'PartnerInfo.Contents.RBT.ContentCategories.Title' | translate }}
    </h4>
</div>

<div class="portlet-body">

    <form class="form-horizontal parsley-form" novalidate id="form" name="form" method="post" enctype="multipart/form-data">
        <fieldset id="formFieldset">

        <div class="form-group" ng-if="contentCategory.id">
            <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentCategories.Id' | translate }}</label>
            <div class="col-md-7">
                <input id="categoryId" name="categoryId" type="text" class="form-control"
                       ng-value="contentCategory.id"
                       ng-disabled="true"/>
            </div>
        </div>

        <div class="form-group" ng-if="contentCategory.id">
            <label class="col-md-3">{{ 'CommonLabels.CreatedOn' | translate }}</label>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-value="contentCategory.dateCreated | date:'yyyy-MM-dd HH:mm:ss':DateTimeConstants.OFFSET" disabled/>
            </div>
        </div>

        <div class="form-group" ng-if="contentCategory.id">
            <label class="col-md-3">{{ 'CommonLabels.UpdatedOn' | translate }}</label>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-value="contentCategory.dateUpdated | date:'yyyy-MM-dd HH:mm:ss':DateTimeConstants.OFFSET" disabled/>
            </div>
        </div>

        <div class="form-group" ng-if="contentCategory.id">
            <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentCategories.Subscriptions' | translate }}</label>
            <div class="col-md-7">
                <input type="text" class="form-control" ng-value="contentCategory.totalSubscriptionCount" disabled/>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentCategories.ContentCategory' | translate }}</label>
            <div class="col-md-7">
                <input id="name" name="name" type="text" class="form-control"
                       ng-model="contentCategory.name"
                       ng-required="true" ng-maxlength="100" maxlength="100"
                       ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())"/>
                <ul ng-class="{ 'parsley-error-list': form.name.$dirty && form.name.$invalid }"
                    ng-show="form.name.$dirty && form.name.$invalid">
                    <li class="required" ng-show="form.name.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                    <li class="required" ng-show="form.name.$error.maxlength">{{ 'CommonMessages.MaxLengthError' | translate:{max_length: 100} }}</li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label for="startDate" class="col-md-3 text-left">{{ 'GenericFormFields.StartDate.Label' | translate }}</label>
            <div class="col-md-3">
                <p class="input-group datepicker-field">
                    <input id="startDate" name="startDate" type="text" class="form-control input-sm"
                           uib-datepicker-popup="{{dateFormat}}" ng-model="dateHolder.startDate"
                           is-open="startDatePicker.opened"
                           datepicker-options="dateOptions"
                           ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default input-sm" ng-click="openStartDatePicker($event)"
                                ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                    <ul ng-class="{ 'parsley-error-list': form.startDate.$dirty && form.startDate.$invalid }" ng-show="form.startDate.$dirty && form.startDate.$invalid">
                        <li class="required" ng-show="form.startDate.$error.parse">{{ 'GenericFormFields.StartDate.Messages.Invalid' | translate }}</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="endDate" class="col-md-3 text-left">{{ 'GenericFormFields.EndDate.Label' | translate }}</label>
            <div class="col-md-3">
                <p class="input-group datepicker-field">
                    <input id="endDate" name="endDate" type="text" class="form-control input-sm"
                           uib-datepicker-popup="{{dateFormat}}" ng-model="dateHolder.endDate"
                           is-open="endDatePicker.opened"
                           datepicker-options="dateOptions"
                           ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default input-sm" ng-click="openEndDatePicker($event)"
                                ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                    <ul ng-class="{ 'parsley-error-list': form.endDate.$dirty && form.endDate.$invalid }" ng-show="form.endDate.$dirty && form.endDate.$invalid">
                        <li class="required" ng-show="form.endDate.$error.parse">{{'GenericFormFields.EndDate.Messages.Invalid' | translate }}</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentCategories.SubscriptionEnabled' | translate }}</label>
            <div class="col-md-7">
                <div class="btn-group">
                    <button class="btn {{contentCategory.subscriptionEnabled?'btn-primary active':'btn-default'}} btn-sm"
                            ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())"
                            ng-model="contentCategory.subscriptionEnabled" uib-btn-radio="true">{{ 'CommonLabels.Yes' | translate }}</button>
                    <button class="btn {{!contentCategory.subscriptionEnabled?'btn-primary active':'btn-default'}} btn-sm"
                            ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())"
                            ng-model="contentCategory.subscriptionEnabled" uib-btn-radio="false">{{ 'CommonLabels.No' | translate }}</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentCategories.Promoted' | translate }}</label>
            <div class="col-md-7">
                <div class="btn-group">
                    <button class="btn {{contentCategory.promoted?'btn-primary active':'btn-default'}} btn-sm"
                            ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())"
                            ng-model="contentCategory.promoted" uib-btn-radio="true">{{ 'CommonLabels.Yes' | translate }}</button>
                    <button class="btn {{!contentCategory.promoted?'btn-primary active':'btn-default'}} btn-sm"
                            ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())"
                            ng-model="contentCategory.promoted" uib-btn-radio="false">{{ 'CommonLabels.No' | translate }}</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <h5 class="portlet-title">
                    {{ 'PartnerInfo.Contents.RBT.ContentCategories.CategoryInfo.Header' | translate }}
                </h5>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="nameen" class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.ContentInfo.TitleEn' | translate }}</label>
                <div class="col-md-7">
                    <input id="nameen" name="nameen" type="text" class="form-control" dir="auto"
                           ng-model="contentCategory.nameEn"
                           ng-required="true" ng-maxlength="50"
                           ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())"/>
                    <ul ng-class="{ 'parsley-error-list': form.nameen.$dirty && form.nameen.$invalid }"
                        ng-show="form.nameen.$dirty && form.nameen.$invalid">
                        <li class="required" ng-show="form.nameen.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                        <li class="required" ng-show="form.nameen.$error.maxlength">{{ 'CommonMessages.MaxLengthError' | translate:{max_length: 50} }}</li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label for="descriptionen" class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.ContentInfo.DescriptionEn' | translate }}</label>
                <div class="col-md-7">
                    <textarea id="descriptionen" name="descriptionen" class="form-control" dir="auto"
                              ng-model="contentCategory.descriptionEn"
                              rows="3" ng-maxlength="255" maxlength="255" ng-required="true"
                              ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())">
                    </textarea>
                    <ul ng-class="{ 'parsley-error-list': form.descriptionen.$dirty && form.descriptionen.$invalid }"
                        ng-show="form.descriptionen.$dirty && form.descriptionen.$invalid">
                        <li class="required" ng-show="form.descriptionen.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                        <li class="required" ng-show="form.descriptionen.$error.maxlength">{{ 'CommonMessages.MaxLengthError' | translate:{max_length: 255} }}</li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label for="namear" class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.ContentInfo.TitleAr' | translate }}</label>
                <div class="col-md-7">
                    <input id="namear" name="namear" type="text" class="form-control" dir="auto"
                           ng-model="contentCategory.nameAr"
                           ng-required="true" ng-maxlength="50"
                           ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())"/>
                    <ul ng-class="{ 'parsley-error-list': form.namear.$dirty && form.namear.$invalid }"
                        ng-show="form.namear.$dirty && form.namear.$invalid">
                        <li class="required" ng-show="form.namear.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                        <li class="required" ng-show="form.namear.$error.maxlength">{{ 'CommonMessages.MaxLengthError' | translate:{max_length: 50} }}</li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label for="descriptionar" class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.ContentInfo.DescriptionAr' | translate }}</label>
                <div class="col-md-7">
                    <textarea id="descriptionar" name="descriptionar" class="form-control" dir="auto"
                              ng-model="contentCategory.descriptionAr"
                              rows="3" ng-maxlength="255" maxlength="255" ng-required="true"
                              ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())">
                    </textarea>
                    <ul ng-class="{ 'parsley-error-list': form.descriptionar.$dirty && form.descriptionar.$invalid }"
                        ng-show="form.descriptionar.$dirty && form.descriptionar.$invalid">
                        <li class="required" ng-show="form.descriptionar.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                        <li class="required" ng-show="form.descriptionar.$error.maxlength">{{ 'CommonMessages.MaxLengthError' | translate:{max_length: 255} }}</li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label for="searchkeywords" class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.ContentInfo.SearchKeywords' | translate }}</label>
                <div class="col-md-7">
                    <ui-select multiple tagging tagging-label="false" theme="bootstrap" allow-clear="true" append-to-body="true"
                               ng-model="contentCategory.tags"
                               limit="20"
                               title="{{ 'CommonLabels.EnterNewOne' | translate }}"
                               ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())">
                        <ui-select-match placeholder=" {{ 'CommonLabels.EnterNewOne' | translate }}">
                            {{ $item }}
                        </ui-select-match>
                        <ui-select-choices repeat="searchKeywordItem as searchKeywordItem in (searchKeyword | filter: $select.search)">
                            {{ searchKeywordItem }}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentCategories.CoverImage' | translate }}</label>
                <div class="col-md-7">
                    <div class="fileinput fileinput-new">
                        <div class="fileinput-preview thumbnail text-center" style="max-width: 200px;" ng-if="contentCategory.coverImage.name">
                            <img ngf-src="!contentCategory.coverImage.$error && contentCategory.coverImage" width="200"
                                 ng-style="{ 'height': (contentCategory.coverImage ? '' : '200px') }"/>

                            <div class="thumbnail-footer" ng-if="contentCategory.coverImage.type">
                                <div class="pull-left">
                                    {{ contentCategory.coverImage.type }}
                                </div>
                            </div>
                        </div>

                        <div>
                            <button name="coverImage" type="file"
                                    title="{{ (contentCategory.coverImage ? 'FileOperationLabels.ChangeTitle' : 'FileOperationLabels.SelectTitle') | translate }}"
                                    class="btn btn-sm btn-default"
                                    ngf-select
                                    ng-model="contentCategory.coverImage"
                                    ng-init="contentCategory.coverImage ? contentCategory.coverImage.name = contentCategory.coverImage.$ngfName : null"
                                    ngf-change="form.coverImage.$setDirty()"
                                    ng-required="true"
                                    ngf-accept="'.jpg,.jpeg,.png,.gif'"
                                    ngf-max-size="20MB"
                                    ngf-model-invalid="errorImage"
                                    ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())">
                                <i class="fa fa-image" aria-hidden="true"></i>&nbsp;&nbsp;
                                {{ (contentCategory.coverImage.name ? 'FileOperationLabels.Change' : 'FileOperationLabels.Browse') | translate }}
                            </button>
                            <ul ng-class="{ 'parsley-error-list': form.coverImage.$dirty && form.coverImage.$invalid }"
                                ng-show="form.coverImage.$dirty && form.coverImage.$invalid">
                                <li class="required" ng-show="form.coverImage.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                                <li class="required" ng-show="form.coverImage.$error.maxSize">{{ 'FileOperationLabels.FileTooLargeError' | translate: {maxFileSize: errorImage.$errorParam} }}</li>
                            </ul>
                            <button class="btn btn-sm btn-default"
                                    title="{{ 'FileOperationLabels.RemoveTitle' | translate }}"
                                    ng-click="contentCategory.coverImage = null;"
                                    ng-if="contentCategory.coverImage.name && (contentCategory.id ? AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : AuthorizationService.canRBTCategoryCreate())">
                                <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;
                                {{ 'FileOperationLabels.Remove' | translate }}
                            </button>
                            &nbsp;&nbsp;
                            <a class="btn btn-sm btn-success"
                               ng-if="contentCategory.coverImage.name"
                               title="{{ 'CommonLabels.Download' | translate }}"
                               download="{{ contentCategory.coverImage.name }}"
                               href="{{ contentCategory.coverImage | ngfDataUrl }}" target="_blank">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentCategories.CardImage' | translate }}</label>
                <div class="col-md-7">
                    <div class="fileinput fileinput-new">
                        <div class="fileinput-preview thumbnail text-center" style="max-width: 200px;" ng-if="contentCategory.cardImage.name">
                            <img ngf-src="!contentCategory.cardImage.$error && contentCategory.cardImage" width="200"
                                 ng-style="{ 'height': (contentCategory.cardImage ? '' : '200px') }"/>

                            <div class="thumbnail-footer" ng-if="contentCategory.cardImage.type">
                                <div class="pull-left">
                                    {{ contentCategory.cardImage.type }}
                                </div>
                            </div>
                        </div>

                        <div>
                            <button name="cardImage" type="file"
                                    title="{{ (contentCategory.cardImage ? 'FileOperationLabels.ChangeTitle' : 'FileOperationLabels.SelectTitle') | translate }}"
                                    class="btn btn-sm btn-default"
                                    ngf-select
                                    ng-model="contentCategory.cardImage"
                                    ng-init="contentCategory.cardImage ? contentCategory.cardImage.name = contentCategory.cardImage.$ngfName : null"
                                    ngf-change="form.cardImage.$setDirty()"
                                    ng-required="true"
                                    ngf-accept="'.jpg,.jpeg,.png,.gif'"
                                    ngf-max-size="20MB"
                                    ngf-model-invalid="errorImage"
                                    ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())">
                                <i class="fa fa-image" aria-hidden="true"></i>&nbsp;&nbsp;
                                {{ (contentCategory.cardImage.name ? 'FileOperationLabels.Change' : 'FileOperationLabels.Browse') | translate }}
                            </button>
                            <ul ng-class="{ 'parsley-error-list': form.cardImage.$dirty && form.cardImage.$invalid }"
                                ng-show="form.cardImage.$dirty && form.cardImage.$invalid">
                                <li class="required" ng-show="form.cardImage.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                                <li class="required" ng-show="form.cardImage.$error.maxSize">{{ 'FileOperationLabels.FileTooLargeError' | translate: {maxFileSize: errorImage.$errorParam} }}</li>
                            </ul>
                            <button class="btn btn-sm btn-default"
                                    title="{{ 'FileOperationLabels.RemoveTitle' | translate }}"
                                    ng-click="contentCategory.cardImage = null;"
                                    ng-if="contentCategory.cardImage.name && (contentCategory.id ? AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : AuthorizationService.canRBTCategoryCreate())">
                                <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;
                                {{ 'FileOperationLabels.Remove' | translate }}
                            </button>
                            &nbsp;&nbsp;
                            <a class="btn btn-sm btn-success"
                               ng-if="contentCategory.cardImage.name"
                               title="{{ 'CommonLabels.Download' | translate }}"
                               download="{{ contentCategory.cardImage.name }}"
                               href="{{ contentCategory.cardImage | ngfDataUrl }}" target="_blank">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentCategories.Thumbnail' | translate }}</label>
                <div class="col-md-7">
                    <div class="fileinput fileinput-new">
                        <div class="fileinput-preview thumbnail text-center" style="max-width: 200px;" ng-if="contentCategory.thumbnail.name">
                            <img ngf-src="!contentCategory.thumbnail.$error && contentCategory.thumbnail" width="200"
                                 ng-style="{ 'height': (contentCategory.thumbnail ? '' : '200px') }"/>

                            <div class="thumbnail-footer" ng-if="contentCategory.thumbnail.type">
                                <div class="pull-left">
                                    {{ contentCategory.thumbnail.type }}
                                </div>
                            </div>
                        </div>

                        <div>
                            <button name="thumbnail" type="file"
                                    title="{{ (contentCategory.thumbnail ? 'FileOperationLabels.ChangeTitle' : 'FileOperationLabels.SelectTitle') | translate }}"
                                    class="btn btn-sm btn-default"
                                    ngf-select
                                    ng-model="contentCategory.thumbnail"
                                    ng-init="contentCategory.thumbnail ? contentCategory.thumbnail.name = contentCategory.thumbnail.$ngfName : null"
                                    ngf-change="form.thumbnail.$setDirty()"
                                    ng-required="true"
                                    ngf-accept="'.jpg,.jpeg,.png,.gif'"
                                    ngf-max-size="20MB"
                                    ngf-model-invalid="errorImage"
                                    ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())">
                                <i class="fa fa-image" aria-hidden="true"></i>&nbsp;&nbsp;
                                {{ (contentCategory.thumbnail.name ? 'FileOperationLabels.Change' : 'FileOperationLabels.Browse') | translate }}
                            </button>
                            <ul ng-class="{ 'parsley-error-list': form.thumbnail.$dirty && form.thumbnail.$invalid }"
                                ng-show="form.thumbnail.$dirty && form.thumbnail.$invalid">
                                <li class="required" ng-show="form.thumbnail.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                                <li class="required" ng-show="form.thumbnail.$error.maxSize">{{ 'FileOperationLabels.FileTooLargeError' | translate: {maxFileSize: errorImage.$errorParam} }}</li>
                            </ul>
                            <button class="btn btn-sm btn-default"
                                    title="{{ 'FileOperationLabels.RemoveTitle' | translate }}"
                                    ng-click="contentCategory.thumbnail = null;"
                                    ng-if="contentCategory.thumbnail.name && (contentCategory.id ? AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : AuthorizationService.canRBTCategoryCreate())">
                                <i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;
                                {{ 'FileOperationLabels.Remove' | translate }}
                            </button>
                            &nbsp;&nbsp;
                            <a class="btn btn-sm btn-success"
                               ng-if="contentCategory.thumbnail.name"
                               title="{{ 'CommonLabels.Download' | translate }}"
                               download="{{ contentCategory.thumbnail.name }}"
                               href="{{ contentCategory.thumbnail | ngfDataUrl }}" target="_blank">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <h5 class="portlet-title">
                    {{ 'PartnerInfo.Contents.RBT.ContentMetadatas.ContentTemplate.Header' | translate }}
                </h5>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentCategories.AccessChannels' | translate }}</label>
                <div class="col-md-7">
                    <ui-select multiple theme="bootstrap" allow-clear="true" append-to-body="true"
                               ng-model="contentCategory.accessChannels"
                               close-on-select="false"
                               limit="20"
                               title="{{ 'CommonLabels.SelectOne' | translate }}"
                               ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())"">
                        <ui-select-match placeholder=" {{ 'CommonLabels.SelectFromTheList' | translate }}">
                            {{ $item }}
                        </ui-select-match>
                        <ui-select-choices repeat="accessChannelListItem as accessChannelListItem in (CMS_ACCESS_CHANNELS | filter: $select.search)">
                            {{ accessChannelListItem }}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label for="defaultToneId" class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentCategories.DefaultTone' | translate }}</label>
                <div class="col-md-7">
                    <div class="input-group">
                        <ui-select id="defaultToneId" name="defaultToneId" theme="bootstrap" allow-clear="true" append-to-body="true"
                                   ng-model="contentCategory.defaultToneId"
                                   ng-required="true"
                                   search-enabled="true"
                                   close-on-select="true"title="{{ 'CommonLabels.SelectOne' | translate }}"
                                   ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())">
                            <ui-select-match placeholder="{{ 'CommonLabels.PleaseWrite' | translate }}">
                                <span ng-bind="$select.selected.name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="toneListItem.id as toneListItem in (toneList | filter: $select.search) track by toneListItem.id"
                                               refresh="contentCategory.id ? searchTonesByCategory($select.search, contentCategory.id) : searchTones($select.search)"
                                               refresh-delay="0">
                                <div ng-bind-html="toneListItem.name | highlight: $select.search"></div>
                                <small>
                                    Organization: {{(toneListItem.organizationName ? toneListItem.organizationName : 'N/A')}}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="contentCategory.defaultToneId = null;form.defaultToneId.$setDirty();" class="btn btn-default" ng-disabled="!contentCategory.defaultToneId">
                                <span class="fa fa-times"></span>
                            </button>
                        </span>
                    </div>
                    <ul ng-class="{ 'parsley-error-list': form.defaultToneId.$dirty && form.defaultToneId.$invalid }"
                        ng-show="form.defaultToneId.$dirty && form.defaultToneId.$invalid">
                        <li class="required" ng-show="form.defaultToneId.$error.required">{{
                            'CommonMessages.RequiredFieldError' | translate }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <h5 class="portlet-title">
                    {{ 'PartnerInfo.Contents.RBT.ChargingDetails.Header' | translate }}
                </h5>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="chargingPeriod" class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ChargingDetails.ChargingPeriod' | translate }}</label>
                <div class="col-md-3">
                    <select id="chargingPeriod" name="chargingPeriod" class="form-control parsley-validated"
                            ng-model="contentCategory.chargingDetails.chargingPeriod.duration"
                            ng-options="duration for duration in [1,7,30]"
                            ng-required="true"
                            ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())">
                        <option value="">-- {{ 'CommonLabels.SelectOne' | translate }} --</option>
                    </select>
                    <ul ng-class="{ 'parsley-error-list': form.chargingPeriod.$dirty && form.chargingPeriod.$invalid }"
                        ng-show="form.chargingPeriod.$dirty && form.chargingPeriod.$invalid">
                        <li class="required" ng-show="form.chargingPeriod.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <select id="chargingPeriodUnit" name="chargingPeriodUnit" class="form-control col-md-6"
                            ng-model="contentCategory.chargingDetails.chargingPeriod.unit"
                            ng-options="opt.key as (opt.label | translate ) for opt in DURATION_UNITS"
                            ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())">
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="price" class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ChargingDetails.Price' | translate }}</label>
                <div class="col-md-4">
                    <input id="price" name="price" type="number" class="form-control"
                           ng-model="contentCategory.chargingDetails.price"
                           ng-required="contentCategory.subscriptionEnabled"
                           ng-min="0" ng-max="99999999"
                           ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())"/>
                    <ul ng-class="{ 'parsley-error-list': form.price.$dirty && form.price.$invalid }" ng-show="form.price.$dirty && form.price.$invalid">
                        <li class="required" ng-show="form.price.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                        <li class="required" ng-show="form.price.$error.min">{{ 'CommonMessages.MinValueError' | translate:{min: 0} }}</li>
                        <li class="required" ng-show="form.price.$error.max">{{ 'CommonMessages.MaxValueError' | translate:{max: 99999999} }}</li>
                        <li class="required" ng-show="form.price.$error.number">{{ 'CommonMessages.NumericFieldError' | translate }}</li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label for="subscriptionCode" class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ChargingDetails.SubscriptionCode' | translate }}</label>
                <div class="col-md-7">
                    <input id="subscriptionCode" name="subscriptionCode" type="text" class="form-control"
                           ng-model="contentCategory.chargingDetails.subscriptionCode"
                           ng-change="setError(form, 'subscriptionCode', 'availabilityCheck', true);"
                           ng-maxlength="50" maxlength="50"
                           ng-disabled="contentCategory.id || !AuthorizationService.canRBTCategoryUpdate(contentCategory.status)"/>
                    <ul ng-class="{ 'parsley-error-list': form.subscriptionCode.$dirty && form.subscriptionCode.$invalid }"
                        ng-show="form.subscriptionCode.$dirty && form.subscriptionCode.$invalid">
                        <li class="required" ng-show="form.subscriptionCode.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                        <li class="required" ng-show="form.subscriptionCode.$error.maxlength">{{ 'CommonMessages.MaxLengthError' | translate:{max_length: 50} }}</li>
                        <li class="required" ng-show="form.subscriptionCode.$error.availabilityCheck">{{ 'PartnerInfo.Contents.RBT.ChargingDetails.Messages.SubscriptionCodeAvailable' | translate }}</li>
                    </ul>
                    <small ng-if="!contentCategory.id">{{ 'PartnerInfo.Contents.RBT.ChargingDetails.SubscriptionCodePlaceholder' | translate }}</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <h5 class="portlet-title">
                    {{ 'PartnerInfo.Contents.RBT.RevenueShareDetails.Header' | translate }}
                </h5>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="revSharePolicy" class="col-md-3">{{ 'PartnerInfo.Contents.RBT.RevenueShareDetails.RevSharePolicy' | translate }}</label>
                <div class="col-md-4">
                    <select id="revSharePolicy" name="revSharePolicy" class="form-control parsley-validated"
                            ng-model="contentCategory.chargingDetails.revSharePolicy"
                            ng-required="true"
                            ng-options="revSharePolicy as revSharePolicy for revSharePolicy in CMS_RBT_REV_SHARE_POLICIES"
                            ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())">
                        <option value="">-- {{ 'CommonLabels.SelectOne' | translate }} --</option>
                    </select>
                    <ul ng-class="{ 'parsley-error-list': form.revSharePolicy.$dirty && form.revSharePolicy.$invalid }"
                        ng-show="form.revSharePolicy.$dirty && form.revSharePolicy.$invalid">
                        <li class="required" ng-show="form.revSharePolicy.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                    </ul>
                </div>
            </div>

            <div ng-if="contentCategory.chargingDetails.revSharePolicy === 'COMPLEX'">
                <div class="form-group">
                    <label for="operatorDeductionType" class="col-md-3">{{ 'PartnerInfo.Contents.RBT.RevenueShareDetails.OperatorDeductionType' | translate }}</label>
                    <div class="col-md-4">
                        <select id="operatorDeductionType" name="operatorDeductionType" class="form-control parsley-validated"
                                ng-model="contentCategory.chargingDetails.revShare.operatorDeductionType"
                                ng-required="true"
                                ng-options="operatorDeductionType as operatorDeductionType for operatorDeductionType in CMS_RBT_REV_SHARE_CARRIER_DEDUCTION"
                                ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())">
                            <option value="">-- {{ 'CommonLabels.SelectOne' | translate }} --</option>
                        </select>
                        <ul ng-class="{ 'parsley-error-list': form.operatorDeductionType.$dirty && form.operatorDeductionType.$invalid }"
                            ng-show="form.operatorDeductionType.$dirty && form.operatorDeductionType.$invalid">
                            <li class="required" ng-show="form.operatorDeductionType.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" ng-if="contentCategory.chargingDetails.revShare.operatorDeductionType === 'FIXED'">
                    <label for="operatorDeductionType" class="col-md-3">{{ 'PartnerInfo.Contents.RBT.RevenueShareDetails.OperatorDeductionFixed' | translate }}</label>
                    <div class="col-md-4">
                        <input id="operatorDeduction" name="operatorDeduction" type="number" class="form-control"
                               ng-model="contentCategory.chargingDetails.revShare.operatorDeduction"
                               ng-required="true"
                               min="0" max="99999"
                               ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())"/>
                        <ul ng-class="{ 'parsley-error-list': form.operatorDeduction.$dirty && form.operatorDeduction.$invalid }"
                            ng-show="form.operatorDeduction.$dirty && form.operatorDeduction.$invalid" style="z-index: 9999;">
                            <li class="required" ng-show="form.operatorDeduction.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                            <li class="required" ng-show="form.operatorDeduction.$error.min">{{ 'CommonMessages.MinValueError' | translate: {min: 0} }}</li>
                            <li class="required" ng-show="form.operatorDeduction.$error.max">{{ 'CommonMessages.MaxValueError' | translate: {max: 99999} }}</li>
                            <li class="required" ng-show="form.operatorDeduction.$error.number">{{ 'CommonMessages.NumericFieldError' | translate }}</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" ng-if="contentCategory.chargingDetails.revShare.operatorDeductionType === 'PERCENTAGE'">
                    <label for="operatorDeduction" class="col-md-3">{{ 'PartnerInfo.Contents.RBT.RevenueShareDetails.OperatorDeductionPercentage' | translate }}</label>
                    <div class="col-md-4">
                        <input id="operatorDeduction" name="operatorDeduction" type="number" class="form-control"
                               ng-model="contentCategory.chargingDetails.revShare.operatorDeduction"
                               ng-required="true"
                               min="0" max="100"
                               ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())"/>
                        <ul ng-class="{ 'parsley-error-list': form.operatorDeduction.$dirty && form.operatorDeduction.$invalid }"
                            ng-show="form.operatorDeduction.$dirty && form.operatorDeduction.$invalid" style="z-index: 9999;">
                            <li class="required" ng-show="form.operatorDeduction.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                            <li class="required" ng-show="form.operatorDeduction.$error.min">{{ 'CommonMessages.MinValueError' | translate: {min: 0} }}</li>
                            <li class="required" ng-show="form.operatorDeduction.$error.max">{{ 'CommonMessages.MaxValueError' | translate: {max: 100} }}</li>
                            <li class="required" ng-show="form.operatorDeduction.$error.number">{{ 'CommonMessages.NumericFieldError' | translate }}</li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label for="type" class="col-md-3">{{ 'PartnerInfo.Contents.RBT.RevenueShareDetails.RevenueSplitAcrossTones' | translate }}</label>
                    <div class="col-md-4">
                        <select id="type" name="type" class="form-control parsley-validated"
                                ng-model="contentCategory.chargingDetails.revShare.type"
                                ng-required="true"
                                ng-options="type as type for type in CMS_RBT_REV_SHARE_SPLIT_ACROSS_TONES"
                                ng-disabled="(contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate())">
                            <option value="">-- {{ 'CommonLabels.SelectOne' | translate }} --</option>
                        </select>
                        <ul ng-class="{ 'parsley-error-list': form.type.$dirty && form.type.$invalid }"
                            ng-show="form.type.$dirty && form.type.$invalid">
                            <li class="required" ng-show="form.type.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-7 col-md-push-3">
                <button type="submit" class="btn btn-danger"
                        ng-disabled="form.$invalid || (contentCategory.id ? !AuthorizationService.canRBTCategoryUpdate(contentCategory.status) : !AuthorizationService.canRBTCategoryCreate()) || isNotChanged()"
                        ng-click="save(contentCategory);">
                    {{ 'CommonLabels.Save' | translate }}
                </button>
                <button type="reset" class="btn btn-default" ng-click="cancel();">
                    {{ 'CommonLabels.Cancel' | translate }}
                </button>
            </div>
        </div>

        </fieldset>
    </form>

</div>
