<div class="account-wrapper login-main-wrapper" ng-show="!isSessionValid()">

   <div class="account-body">

      <h4>{{ 'Login.Texts.Welcome' | translate }}</h4>

      <h5>{{ 'Login.Texts.PleaseSignin' | translate }}</h5>

      <form id="loginForm" name="loginForm" ng-submit="login(user)"
            method="post" class="form account-form parsley-form" novalidate form-autofill-fix autocomplete="off">

         <div class="form-group">
            <label for="username" class="placeholder-hidden">{{ 'Login.Form.Username.Label' | translate }}</label>
            <input id="username" name="username" type="text" class="form-control" autocomplete="off"
                   style="margin-bottom: 0;"
                   ng-model="user.username"
                   ng-required="true" required
                   ng-maxlength="100" maxlength="100"
                   placeholder="{{ 'Login.Form.Username.Label' | translate }}" tabindex="1"/>
            <ul ng-class="{ 'parsley-error-list': loginForm.username.$dirty && loginForm.username.$invalid }" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">
               <li class="required" ng-show="loginForm.username.$error.required">{{ 'Login.Form.Username.Messages.Required' | translate }}</li>
               <li class="required" ng-show="loginForm.username.$error.maxlength">{{ 'CommonMessages.MaxLengthError' | translate:{max_length: 100} }}</li>
            </ul>
         </div>

         <div class="form-group">
            <label for="password" class="placeholder-hidden">{{ 'Login.Form.Password.Label' | translate }}</label>
            <input id="password" name="password" type="password" class="form-control" autocomplete="current-password"
                   style="margin-bottom: 0;"
                   ng-model="user.password"
                   ng-required="true" required
                   ng-maxlength="100" maxlength="100"
                   placeholder="{{ 'Login.Form.Password.Label' | translate }}" tabindex="2"/>
            <ul ng-class="{ 'parsley-error-list': loginForm.password.$dirty && loginForm.password.$invalid }" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
               <li class="required" ng-show="loginForm.password.$error.required">{{ 'Login.Form.Password.Messages.Required' | translate }}</li>
               <li class="required" ng-show="loginForm.password.$error.maxlength">{{ 'CommonMessages.MaxLengthError' | translate:{max_length: 100} }}</li>
            </ul>
         </div>

         <div class="form-group clearfix">
            <div class="pull-left" ng-if="false">
               <label class="checkbox-inline">
                  <input type="checkbox" class="" value="" tabindex="3"> <small>Remember me</small>
               </label>
            </div>

            <div class="pull-right">
               <small>
                  <a ui-sref="forgotpassword">Forgot Password?</a>
               </small>
            </div>
         </div>

         <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="4">
               {{ 'CommonLabels.Signin' | translate }} &nbsp; <i class="fa fa-play-circle"></i>
            </button>
         </div>

         <div class="form-group text-right">
            <span uib-tooltip="{{ 'Certificate.Tooltip' | translate }}" tooltip-class="custom-class" tooltip-placement="top-left" tooltip-animation="false" tooltip-trigger="'mouseenter'" tooltip-append-to-body="true">
               {{ 'Certificate.Label' | translate }}: <a href="/files/Mobily_Root_CA01.zip" target="_blank">Mobily Root CA</a>
            </span>
         </div>

      </form>

   </div>

   <div class="account-footer">
      <p>
      </p>
   </div>

</div>
