<div class="account-wrapper" ng-show="!isSessionValid()">

    <div class="account-body">

        <h2>{{ 'Login.ForgotPassword.ConfirmHeader' | translate }}</h2>

        <h5>{{ 'Login.ForgotPassword.ConfirmDescription' | translate }}</h5>

        <form id="form" name="form" ng-submit="confirmPasswordReset(userAccount)"
              method="post" class="form account-form parsley-form" novalidate form-autofill-fix autocomplete="off">

            <div class="form-group">
                <label for="password" class="placeholder-hidden">{{ 'Login.ForgotPassword.Password' | translate }}</label>
                <input id="password" name="password" type="password" autocomplete="new-password" class="form-control" tabindex="1"
                       style="margin-bottom: 0;"
                       ng-model="userAccount.password"
                       uib-popover="{{ 'CommonMessages.PasswordTooltip' | translate }}" popover-placement="top-left" popover-animation="false" popover-trigger="'focus'" popover-append-to-body="true"
                       ng-required="true"
                       ng-minlength="8" ng-maxlength="100"
                       ng-pattern="form.password.$dirty ? $root.Validators.UserPassword : false"
                       ng-change="userAccount.confirmpassword = null;"
                       placeholder="{{ 'Login.ForgotPassword.Password' | translate }}"/>
                <ul ng-class="{ 'parsley-error-list': form.password.$dirty && form.password.$invalid }"
                    ng-show="form.password.$dirty && form.password.$invalid">
                    <li class="required" ng-show="!form.password.$error.minlength && form.password.$error.pattern">{{ 'CommonMessages.PasswordDoesNotMeetRequirements' | translate }}</li>
                    <li class="required" ng-show="form.password.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                    <li class="required" ng-show="form.password.$error.minlength">{{ 'CommonMessages.MinLengthError' | translate:{ min_length: 8 } }}</li>
                    <li class="required" ng-show="form.password.$error.maxlength">{{ 'CommonMessages.MaxLengthError' | translate:{ max_length: 100 } }}</li>
                </ul>
            </div>

            <div class="form-group">
                <label for="confirmpassword" class="placeholder-hidden">{{ 'Login.ForgotPassword.ConfirmPassword' | translate }}</label>
                <input id="confirmpassword" name="confirmpassword" type="password" autocomplete="new-password" class="form-control" tabindex="2"
                       style="margin-bottom: 0;"
                       ng-model="userAccount.confirmpassword"
                       ng-required="true"
                       ng-minlength="8" ng-maxlength="100"
                       password-verify="userAccount.password"
                       placeholder="{{ 'Login.ForgotPassword.ConfirmPassword' | translate }}"/>
                <ul ng-class="{ 'parsley-error-list': form.confirmpassword.$dirty && form.confirmpassword.$invalid }"
                    ng-show="form.confirmpassword.$dirty && form.confirmpassword.$invalid">
                    <li class="required" ng-show="form.confirmpassword.$error.passwordVerify">{{ 'CommonMessages.PasswordError' | translate }}</li>
                    <li class="required" ng-show="form.confirmpassword.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                    <li class="required" ng-show="form.confirmpassword.$error.minlength">{{ 'CommonMessages.MinLengthError' | translate:{ min_length: 8 } }}</li>
                    <li class="required" ng-show="form.confirmpassword.$error.maxlength">{{ 'CommonMessages.MaxLengthError' | translate:{ max_length: 100 } }}</li>
                </ul>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-block btn-lg" tabindex="3"
                        ng-disabled="form.$invalid">
                    {{ 'CommonLabels.Confirm' | translate }}
                </button>
            </div>

            <div class="form-group">
                <a ui-sref="login">
                    <i class="fa fa-angle-double-left"></i> &nbsp;{{ 'Login.ForgotPassword.BackToLogin' | translate }}
                </a>
            </div>
        </form>

    </div>

</div>
