<div class="portlet-header">
    <h4 class="portlet-title">
        {{ 'Products.SMSF.Configuration.Core.Title' | translate }}
    </h4>
</div>

<div class="portlet-body">

    <form class="form-horizontal parsley-form" novalidate id="form" name="form" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label class="col-md-3">{{ 'Products.SMSF.Configuration.Core.MoTimeout' | translate }}</label>
            <div class="col-md-7">
                <input id="moTimeout" name="moTimeout" type="number" class="form-control"
                       ng-model="smsfConfig.moTimeout"
                       ng-min="0" ng-max="999999"
                       ng-disabled="!AuthorizationService.canUpdateConfiguration()"/>
                <ul ng-class="{ 'parsley-error-list': form.ussdTimeout.$dirty && form.ussdTimeout.$invalid }"
                    ng-show="form.moTimeout.$dirty && form.moTimeout.$invalid">
                    <li class="required" ng-show="form.moTimeout.$error.min">{{ 'CommonMessages.MinValueError' | translate:{ min: 0 } }}</li>
                    <li class="required" ng-show="form.moTimeout.$error.max">{{ 'CommonMessages.MaxValueError' | translate:{ max: 999999 } }}</li>
                    <li class="required" ng-show="form.moTimeout.$error.number">{{ 'CommonMessages.NumericFieldError' | translate }}</li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'Products.SMSF.Configuration.Core.N1N2RequestTimeout' | translate }}</label>
            <div class="col-md-7">
                <input id="n1N2RequestTimeout" name="n1N2RequestTimeout" type="number" class="form-control"
                       ng-model="smsfConfig.n1N2RequestTimeout"
                       ng-min="0" ng-max="999999"
                       ng-disabled="!AuthorizationService.canUpdateConfiguration()"/>
                <ul ng-class="{ 'parsley-error-list': form.n1N2RequestTimeout.$dirty && form.n1N2RequestTimeout.$invalid }"
                    ng-show="form.n1N2RequestTimeout.$dirty && form.n1N2RequestTimeout.$invalid">
                    <li class="required" ng-show="form.n1N2RequestTimeout.$error.min">{{ 'CommonMessages.MinValueError' | translate:{ min: 0 } }}</li>
                    <li class="required" ng-show="form.n1N2RequestTimeout.$error.max">{{ 'CommonMessages.MaxValueError' | translate:{ max: 999999 } }}</li>
                    <li class="required" ng-show="form.n1N2RequestTimeout.$error.number">{{ 'CommonMessages.NumericFieldError' | translate }}</li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'Products.SMSF.Configuration.Core.MaxGsmOutputTransactions' | translate }}</label>
            <div class="col-md-7">
                <input id="maxGsmOutputTransactions" name="maxGsmOutputTransactions" type="number" class="form-control"
                       ng-model="smsfConfig.maxGsmOutputTransactions"
                       ng-min="0" ng-max="999999"
                       ng-disabled="!AuthorizationService.canUpdateConfiguration()"/>
                <ul ng-class="{ 'parsley-error-list': form.maxGsmOutputTransactions.$dirty && form.maxGsmOutputTransactions.$invalid }"
                    ng-show="form.maxGsmOutputTransactions.$dirty && form.maxGsmOutputTransactions.$invalid">
                    <li class="required" ng-show="form.maxGsmOutputTransactions.$error.min">{{ 'CommonMessages.MinValueError' | translate:{ min: 0 } }}</li>
                    <li class="required" ng-show="form.maxGsmOutputTransactions.$error.max">{{ 'CommonMessages.MaxValueError' | translate:{ max: 999999 } }}</li>
                    <li class="required" ng-show="form.maxGsmOutputTransactions.$error.number">{{ 'CommonMessages.NumericFieldError' | translate }}</li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'Products.SMSF.Configuration.Core.MaxGsmInputTransactions' | translate }}</label>
            <div class="col-md-7">
                <input id="maxGsmInputTransactions" name="maxGsmInputTransactions" type="number" class="form-control"
                       ng-model="smsfConfig.maxGsmInputTransactions"
                       ng-min="0" ng-max="999999"
                       ng-disabled="!AuthorizationService.canUpdateConfiguration()"/>
                <ul ng-class="{ 'parsley-error-list': form.maxGsmInputTransactions.$dirty && form.maxGsmInputTransactions.$invalid }"
                    ng-show="form.maxGsmInputTransactions.$dirty && form.maxGsmInputTransactions.$invalid">
                    <li class="required" ng-show="form.maxGsmInputTransactions.$error.min">{{ 'CommonMessages.MinValueError' | translate:{ min: 0 } }}</li>
                    <li class="required" ng-show="form.maxGsmInputTransactions.$error.max">{{ 'CommonMessages.MaxValueError' | translate:{ max: 999999 } }}</li>
                    <li class="required" ng-show="form.maxGsmInputTransactions.$error.number">{{ 'CommonMessages.NumericFieldError' | translate }}</li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'Products.SMSF.Configuration.Core.ThrottlerAttemptTimeout' | translate }}</label>
            <div class="col-md-7">
                <input id="throttlerAttemptTimeout" name="throttlerAttemptTimeout" type="number" class="form-control"
                       ng-model="smsfConfig.throttlerAttemptTimeout"
                       ng-min="0" ng-max="999999"
                       ng-disabled="!AuthorizationService.canUpdateConfiguration()"/>
                <ul ng-class="{ 'parsley-error-list': form.throttlerAttemptTimeout.$dirty && form.throttlerAttemptTimeout.$invalid }"
                    ng-show="form.throttlerAttemptTimeout.$dirty && form.throttlerAttemptTimeout.$invalid">
                    <li class="required" ng-show="form.throttlerAttemptTimeout.$error.min">{{ 'CommonMessages.MinValueError' | translate:{ min: 0 } }}</li>
                    <li class="required" ng-show="form.throttlerAttemptTimeout.$error.max">{{ 'CommonMessages.MaxValueError' | translate:{ max: 999999 } }}</li>
                    <li class="required" ng-show="form.throttlerAttemptTimeout.$error.number">{{ 'CommonMessages.NumericFieldError' | translate }}</li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'Products.SMSF.Configuration.Core.ThrottlerQueueSize' | translate }}</label>
            <div class="col-md-7">
                <input id="throttlerQueueSize" name="throttlerQueueSize" type="number" class="form-control"
                       ng-model="smsfConfig.throttlerQueueSize"
                       ng-min="0" ng-max="999999"
                       ng-disabled="!AuthorizationService.canUpdateConfiguration()"/>
                <ul ng-class="{ 'parsley-error-list': form.throttlerQueueSize.$dirty && form.throttlerQueueSize.$invalid }"
                    ng-show="form.throttlerQueueSize.$dirty && form.throttlerQueueSize.$invalid">
                    <li class="required" ng-show="form.throttlerQueueSize.$error.min">{{ 'CommonMessages.MinValueError' | translate:{ min: 0 } }}</li>
                    <li class="required" ng-show="form.throttlerQueueSize.$error.max">{{ 'CommonMessages.MaxValueError' | translate:{ max: 999999 } }}</li>
                    <li class="required" ng-show="form.throttlerQueueSize.$error.number">{{ 'CommonMessages.NumericFieldError' | translate }}</li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-7 col-md-push-3">
                <button type="submit" class="btn btn-danger"
                        ng-disabled="form.$invalid || !AuthorizationService.canUpdateConfiguration() || isNotChanged()"
                        ng-click="save();">
                    {{ 'CommonLabels.Save' | translate }}
                </button>
                <button type="reset" class="btn btn-default" ng-click="cancel();">
                    {{ 'CommonLabels.Cancel' | translate }}
                </button>
            </div>
        </div>

    </form>

</div>
