<div class="portlet-header" ng-if="!isModal">
    <h4 class="portlet-title">
        {{ 'Workflows.Operations.TaskStatuses.' + $state.params.taskStatus | translate }} {{ task ? '/ ' + task.name : '' }}
    </h4>
</div>

<div class="portlet-body">

    <form class="form-horizontal parsley-form task-review-form" novalidate id="form" name="form" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.Tones.Name' | translate }}</label>
            <div class="col-md-7">
                <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.name}}</div>
            </div>
        </div>

        <div class="form-group" ng-if="task.toneTask.objectDetail.id">
            <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.Tones.Id' | translate }}</label>
            <div class="col-md-7">
                <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.id}}</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'GenericFormFields.StartDate.Label' | translate }}</label>
            <div class="col-md-4">
                <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.launchDate | date:'MMMM d, y':DateTimeConstants.OFFSET}}</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'GenericFormFields.EndDate.Label' | translate }}</label>
            <div class="col-md-4">
                <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.expireDate | date:'MMMM d, y':DateTimeConstants.OFFSET}}</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.SubscriptionEnabled' | translate }}</label>
            <div class="col-md-7">
                <div class="btn-group">
                    <button type="button" class="btn {{task.toneTask.objectDetail.subscriptionEnabled?'btn-primary active':'btn-default'}} btn-sm"
                            ng-disabled="true"
                            ng-value="task.toneTask.objectDetail.subscriptionEnabled">{{ 'CommonLabels.Yes' | translate }}</button>
                    <button type="button" class="btn {{!task.toneTask.objectDetail.subscriptionEnabled?'btn-primary active':'btn-default'}} btn-sm"
                            ng-disabled="true"
                            ng-value="task.toneTask.objectDetail.subscriptionEnabled">{{ 'CommonLabels.No' | translate }}</button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.Promoted' | translate }}</label>
            <div class="col-md-7">
                <div class="btn-group">
                    <button type="button" class="btn {{task.toneTask.objectDetail.promoted?'btn-primary active':'btn-default'}} btn-sm"
                            ng-disabled="true"
                            ng-value="task.toneTask.objectDetail.promoted">{{ 'CommonLabels.Yes' | translate }}</button>
                    <button type="button" class="btn {{!task.toneTask.objectDetail.promoted?'btn-primary active':'btn-default'}} btn-sm"
                            ng-disabled="true"
                            ng-value="task.toneTask.objectDetail.promoted">{{ 'CommonLabels.No' | translate }}</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <h5 class="portlet-title">
                    {{ 'PartnerInfo.Contents.RBT.ContentCategories.CategoryInfo.Header' | translate }}
                </h5>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.ContentInfo.TitleEn' | translate }}</label>
                <div class="col-md-4">
                    <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.nameEn}}</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.ContentInfo.DescriptionEn' | translate }}</label>
                <div class="col-md-7">
                    <textarea id="descriptionen" name="descriptionen" class="form-control well well-sm" dir="auto"
                              ng-value="task.toneTask.objectDetail.descriptionEn"
                              rows="3" ng-disabled="true">
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.ContentInfo.TitleAr' | translate }}</label>
                <div class="col-md-4">
                    <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.nameAr}}</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.ContentInfo.DescriptionAr' | translate }}</label>
                <div class="col-md-7">
                    <textarea id="descriptionen" name="descriptionen" class="form-control well well-sm" dir="auto"
                              ng-value="task.toneTask.objectDetail.descriptionAr"
                              rows="3" ng-disabled="true">
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.ContentInfo.SearchKeywords' | translate }}</label>
                <div class="col-md-7">
                    <ui-select multiple tagging tagging-label="false" theme="bootstrap" allow-clear="false" append-to-body="true"
                               ng-model="task.toneTask.objectDetail.tags"
                               title="{{ 'CommonLabels.EnterNewOne' | translate }}"
                               ng-disabled="true">
                        <ui-select-match>
                            {{ $item }}
                        </ui-select-match>
                        <ui-select-choices repeat="searchKeywordItem as searchKeywordItem in (searchKeyword | filter: $select.search)">
                            {{ searchKeywordItem }}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.CoverImage' | translate }}</label>
                <div class="col-md-4">
                    <a ng-if="task.toneTask.objectDetail.coverImageBlobUrl"
                       title="{{ 'CommonLabels.Download' | translate }}"
                       download="{{ task.toneTask.objectDetail.coverImageName }}"
                       href="{{ task.toneTask.objectDetail.coverImageBlobUrl }}" target="_blank">
                        <img ng-src="{{task.toneTask.objectDetail.coverImageBlobUrl}}" class="img-responsive thumbnail" width="200"/>
                    </a>
                    <span ng-if="!task.toneTask.objectDetail.coverImageBlobUrl">{{ 'CommonLabels.N/A' | translate }}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.CardImage' | translate }}</label>
                <div class="col-md-4">
                    <a ng-if="task.toneTask.objectDetail.cardImageBlobUrl"
                       title="{{ 'CommonLabels.Download' | translate }}"
                       download="{{ task.toneTask.objectDetail.cardImageName }}"
                       href="{{ task.toneTask.objectDetail.cardImageBlobUrl }}" target="_blank">
                        <img ng-src="{{task.toneTask.objectDetail.cardImageBlobUrl}}" class="img-responsive thumbnail" width="200"/>
                    </a>
                    <span ng-if="!task.toneTask.objectDetail.cardImageBlobUrl">{{ 'CommonLabels.N/A' | translate }}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.Thumbnail' | translate }}</label>
                <div class="col-md-4">
                    <a ng-if="task.toneTask.objectDetail.thumbnailBlobUrl"
                       title="{{ 'CommonLabels.Download' | translate }}"
                       download="{{ task.toneTask.objectDetail.thumbnailName }}"
                       href="{{ task.toneTask.objectDetail.thumbnailBlobUrl }}" target="_blank">
                        <img ng-src="{{task.toneTask.objectDetail.thumbnailBlobUrl}}" class="img-responsive thumbnail" width="200"/>
                    </a>
                    <span ng-if="!task.toneTask.objectDetail.thumbnailBlobUrl">{{ 'CommonLabels.N/A' | translate }}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.CopyrightFiles' | translate }}</label>
                <div class="col-md-7">
                    <div class="row col-md-9" ng-if="task.toneTask.objectDetail.copyrightFileList.length">
                        <div ng-repeat="copyrightFile in task.toneTask.objectDetail.copyrightFileList">
                            <div>
                                <span ng-if="!copyrightFile.copyrightFile.name">{{ 'CommonLabels.N/A' | translate }}</span>
                                <button type="button" class="btn btn-sm btn-default" style="cursor: text;text-overflow: ellipsis;width: 252px;overflow: hidden;white-space: nowrap;display: inline-block;"
                                        ng-if="copyrightFile.copyrightFile.name"
                                        uib-tooltip="{{copyrightFile.copyrightFile.name}}" tooltip-class="custom-class" tooltip-placement="top-left" tooltip-animation="false" tooltip-trigger="'mouseenter'" tooltip-append-to-body="true">
                                    {{ copyrightFile.copyrightFile.name }}
                                </button>
                                &nbsp;&nbsp;
                                <a class="btn btn-sm btn-success"
                                   ng-if="copyrightFile.copyrightFile.name"
                                   title="{{ 'CommonLabels.Download' | translate }}"
                                   download="{{ copyrightFile.copyrightFile.name }}"
                                   href="{{ copyrightFile.copyrightFile | ngfDataUrl }}" target="_blank">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div>
                                {{ 'GenericFormFields.StartDate.Label' | translate }}:
                                <span>
                                    {{copyrightFile.startDate | date:'MMMM d, y':DateTimeConstants.OFFSET}}
                                </span>
                            </div>
                            <div>
                                {{ 'GenericFormFields.EndDate.Label' | translate }}:
                                <span>
                                    {{copyrightFile.endDate | date:'MMMM d, y':DateTimeConstants.OFFSET}}
                                </span>
                            </div>

                            <div class="row col-md-12">
                                <div class="divider"></div>
                            </div>
                        </div>
                    </div>
                    <span ng-if="task.toneTask.objectDetail.copyrightFileList.length === 0">{{ 'CommonLabels.N/A' | translate }}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <h5 class="portlet-title">
                    {{ 'PartnerInfo.Contents.RBT.ContentMetadatas.ContentTemplate.Header' | translate }}
                </h5>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.Tones.Categories' | translate }}</label>
                <div class="col-md-7">
                    <ui-select multiple theme="bootstrap" allow-clear="false" append-to-body="true"
                               ng-model="task.toneTask.objectDetail.categoryIds"
                               title="{{ 'CommonLabels.EnterNewOne' | translate }}"
                               ng-disabled="true">
                        <ui-select-match>
                            {{ $item.name }}
                        </ui-select-match>
                        <ui-select-choices repeat="contentCategoryListItem.id as contentCategoryListItem in (contentCategoryList | filter: $select.search)">
                            {{ contentCategoryListItem.name }}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.Tones.Moods' | translate }}</label>
                <div class="col-md-7">
                    <ui-select multiple theme="bootstrap" allow-clear="false" append-to-body="true"
                               ng-model="task.toneTask.objectDetail.moodIds"
                               title="{{ 'CommonLabels.EnterNewOne' | translate }}"
                               ng-disabled="true">
                        <ui-select-match>
                            {{ $item.name }}
                        </ui-select-match>
                        <ui-select-choices repeat="moodListItem.id as moodListItem in (moodList | filter: $select.search)">
                            {{ moodListItem.name }}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.Tones.Artists' | translate }}</label>
                <div class="col-md-7">
                    <ui-select multiple theme="bootstrap" allow-clear="false" append-to-body="true"
                               ng-model="task.toneTask.objectDetail.artistIds"
                               title="{{ 'CommonLabels.EnterNewOne' | translate }}"
                               ng-disabled="true">
                        <ui-select-match>
                            {{ $item.name }}
                        </ui-select-match>
                        <ui-select-choices repeat="artistListItem.id as artistListItem in (artistList | filter: $select.search)">
                            {{ artistListItem.name }}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.Tones.Albums' | translate }}</label>
                <div class="col-md-7">
                    <ui-select multiple theme="bootstrap" allow-clear="false" append-to-body="true"
                               ng-model="task.toneTask.objectDetail.albumIds"
                               title="{{ 'CommonLabels.EnterNewOne' | translate }}"
                               ng-disabled="true">
                        <ui-select-match>
                            {{ $item.name }}
                        </ui-select-match>
                        <ui-select-choices repeat="albumListItem.id as albumListItem in (albumList | filter: $select.search)">
                            {{ albumListItem.name }}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.Tones.AccessChannels' | translate }}</label>
                <div class="col-md-7">
                    <ui-select multiple theme="bootstrap" allow-clear="false" append-to-body="true"
                               ng-model="task.toneTask.objectDetail.accessChannels"
                               title="{{ 'CommonLabels.EnterNewOne' | translate }}"
                               ng-disabled="true">
                        <ui-select-match>
                            {{ $item }}
                        </ui-select-match>
                        <ui-select-choices repeat="accessChannelListItem as accessChannelListItem in (CMS_ACCESS_CHANNELS | filter: $select.search)">
                            {{ accessChannelListItem }}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'CommonLabels.Gender' | translate }}</label>
                <div class="col-md-4">
                    <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.gender}}</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">
                    {{ 'PartnerInfo.Contents.RBT.ContentMetadatas.Tones.ToneFile' | translate }}<br/>
                    <small>({{ 'FileOperationLabels.AudioFileULawEncodedExplanation' | translate }})</small>
                </label>
                <div class="col-md-5">
                    <audio class="audio-player" controls controlsList="nodownload"
                           ng-if="task.toneTask.objectDetail.toneFileBlobUrl"
                           ngf-src="task.toneTask.objectDetail.toneFileBlobUrl"/>
                    <span ng-if="!task.toneTask.objectDetail.toneFileBlobUrl">{{ 'CommonLabels.N/A' | translate }}</span>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-sm btn-success pull-right"
                       ng-if="task.toneTask.objectDetail.toneFileBlobUrl"
                       title="{{ 'CommonLabels.Download' | translate }}"
                       download="{{ task.toneTask.objectDetail.toneFileName }}"
                       href="{{ task.toneTask.objectDetail.toneFileBlobUrl }}" target="_blank">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.Tones.Duration' | translate }}</label>
            <div class="col-md-4">
                <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.duration}}</div>
            </div>
        </div>

        <!-- Temporarily hidden -->
        <div class="form-group" ng-if="false">
            <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.Tones.FileOrder' | translate }}</label>
            <div class="col-md-4">
                <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.fileOrder}}</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.Tones.MimeType' | translate }}</label>
            <div class="col-md-4">
                <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.mimeType}}</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.Tones.Codec' | translate }}</label>
            <div class="col-md-4">
                <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.codec}}</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.Tones.AudioBitRate' | translate }}</label>
            <div class="col-md-4">
                <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.audioBitRate}}</div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ContentMetadatas.Tones.SamplingRate' | translate }}</label>
            <div class="col-md-4">
                <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.samplingRate}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <h5 class="portlet-title">
                    {{ 'PartnerInfo.Contents.RBT.ChargingDetails.Header' | translate }}
                </h5>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ChargingDetails.ChargingPeriod' | translate }}</label>
                <div class="col-md-4">
                    <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.chargingDetails.chargingPeriodString}}</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ChargingDetails.Price' | translate }}</label>
                <div class="col-md-4">
                    <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.chargingDetails.price}}</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.ChargingDetails.SubscriptionCode' | translate }}</label>
                <div class="col-md-4">
                    <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.chargingDetails.subscriptionCode}}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <h5 class="portlet-title">
                    {{ 'PartnerInfo.Contents.RBT.RevenueShareDetails.Header' | translate }}
                </h5>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.RevenueShareDetails.BusinessType' | translate }}</label>
                <div class="col-md-4">
                    <div class="well well-sm" dir="auto">RBT</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.RevenueShareDetails.SettlementType' | translate }}</label>
                <div class="col-md-4">
                    <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.chargingDetails.settlementType}}</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3">{{ 'PartnerInfo.Contents.RBT.RevenueShareDetails.RevSharePolicy' | translate }}</label>
                <div class="col-md-4">
                    <div class="well well-sm" dir="auto">{{task.toneTask.objectDetail.chargingDetails.revSharePolicy}}</div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="!isModal">
            <div class="col-md-7 col-md-push-3">
                <button type="submit" class="btn btn-danger"
                        ng-click="deleteTask(task);"
                        ng-if="$state.params.taskStatus === 'pending' && AuthorizationService.canBpmTaskDelete()">
                    {{ 'CommonLabels.Remove' | translate }}
                </button>

                <span>
                    <!-- Tone create -->
                    <button type="submit" class="btn btn-danger"
                            ui-sref="partner-info.operations.rbt.contentmetadatas.tones.resendcreatetask ({ id: task.rbtContentId })"
                            ng-if="task.type === 'RBT_TONE' && AuthorizationService.canRBTToneCreate() && task.status === WORKFLOWS_STATUSES.COMPLETED && task.response === 'REJECT' && !task.objectDetail.id"
                            title="{{ 'CommonLabels.Resend' | translate }}">
                        {{ 'CommonLabels.Resend' | translate }}
                    </button>

                    <!-- Tone update -->
                    <button type="submit" class="btn btn-danger"
                            ui-sref="partner-info.operations.rbt.contentmetadatas.tones.resendupdatetask ({ id: task.rbtContentId })"
                            ng-if="task.type === 'RBT_TONE' && AuthorizationService.canRBTToneUpdate() && task.status === WORKFLOWS_STATUSES.COMPLETED && task.response === 'REJECT' && task.objectDetail.id"
                            title="{{ 'CommonLabels.Resend' | translate }}">
                        {{ 'CommonLabels.Resend' | translate }}
                    </button>
                </span>

                <button type="reset" class="btn btn-default"
                        ng-click="cancel();">
                    {{ 'CommonLabels.Cancel' | translate }}
                </button>
            </div>
        </div>

    </form>

</div>