<div class="row">

    <div class="col-md-12">

        <h3 class="page-title">
            <span translate="{{$state.current.data.title}}" translate-compile></span>
            <i class="fa fa-spinner fa-spin pull-right title-spinner" ng-show="showTitleSpinner"></i>
        </h3>

        <ul class="nav nav-tabs">
            <li ng-class="{ 'active': $state.includes('products.mmsc.dashboards') }">
                <a ui-sref="products.mmsc.dashboards">
                    <span class="fa fa-dashboard"></span> {{ 'GenericTabs.Dashboards' | translate }}
                </a>
            </li>

            <li ng-class="{ 'active': $state.includes('products.mmsc.operations') }" ng-if="AuthorizationService.canRead()">
                <a ui-sref="products.mmsc.operations.applications.mm7">
                    <span class="fa fa-gears"></span> {{ 'GenericTabs.Operations' | translate }}
                </a>
            </li>

            <li ng-class="{ 'active': $state.includes('products.mmsc.configuration') }" ng-if="AuthorizationService.canReadConfiguration()">
                <a ui-sref="products.mmsc.configuration.relayserver">
                    <span class="fa fa-wrench"></span> {{ 'GenericTabs.Configuration' | translate }}
                </a>
            </li>

            <li class="dropdown" uib-dropdown ng-class="{ 'active': $state.includes('products.mmsc.troubleshooting') || $state.includes('products.mmsc.troubleshootingremote') }" ng-if="AuthorizationService.canReadTroubleshooting()">
                <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-stethoscope"></span> {{ 'GenericTabs.Troubleshooting' | translate }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-class="{ 'active': $state.includes('products.mmsc.troubleshooting') }">
                        <a ui-sref="products.mmsc.troubleshooting.edr.view">{{siteInformation.name === 'Jeddah' ? 'Jeddah' : 'Riyadh'}}</a>
                    </li>
                    <li role="menuitem" ng-class="{ 'active': $state.includes('products.mmsc.troubleshootingremote') }">
                        <a ui-sref="products.mmsc.troubleshootingremote.edr.view">{{siteInformation.name === 'Jeddah' ? 'Riyadh' : 'Jeddah'}}</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="row" ui-view>
        </div>

    </div>

</div>
