<div class="row">

    <div class="col-md-12">

        <h3 class="page-title">
            <span translate="{{$state.current.data.title}}" translate-compile></span>
        </h3>

        <ul class="nav nav-tabs">
            <li ng-class="{ 'active': $state.includes('services.coc.screening-lists') }" ng-if="AuthorizationService.canReadScreeningLists()">
                <a ui-sref="services.coc.screening-lists.lists">
                    <span class="fa fa-shield"></span> {{ 'GenericTabs.ScreeningLists.Header' | translate }}
                </a>
            </li>

            <li class="dropdown" uib-dropdown ng-class="{ 'active': $state.includes('services.coc.activity-history') || $state.includes('services.coc.activity-history-remote') }" ng-if="AuthorizationService.canReadTroubleshooting()">
                <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-stethoscope"></span> {{ 'GenericTabs.Troubleshooting.Header' | translate }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-class="{ 'active': $state.includes('services.coc.activity-history') }">
                        <a ui-sref="services.coc.activity-history">{{siteInformation.name === 'Jeddah' ? 'Jeddah' : 'Riyadh'}}</a>
                    </li>
                    <li role="menuitem" ng-class="{ 'active': $state.includes('services.coc.activity-history-remote') }">
                        <a ui-sref="services.coc.activity-history-remote">{{siteInformation.name === 'Jeddah' ? 'Riyadh' : 'Jeddah'}}</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="row" ui-view>
        </div>

    </div>

</div>
