<div class="portlet-header">
    <h4 class="portlet-title">
        {{ 'Subsystems.SubscriptionManagement.Operations.Subscribers.Title' | translate }}
    </h4>
</div>
<div class="portlet-body buttons-portlet-body">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="pull-left">
                <button class="btn btn-secondary btn-sm"
                        ui-sref="subsystems.subscriptionmanagement.operations.subscribers.new"
                        ng-disabled="!AuthorizationService.canSsmOperationsSubscriberCreate()"
                        ng-if="false">
                    <i class="fa fa-plus"></i>
                    {{ 'CommonLabels.AddNewEntry' | translate }}
                </button>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4">
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="pull-right">
                <div class="input-group">
                    <input type="text" class="form-control input-sm"
                           ng-change="filterTableByMsisdnChange(msisdnFilterText)"
                           ng-keyup="$event.keyCode == 13 && filterTableByMsisdn(msisdnFilterText)"
                           ng-model="msisdnFilterText"
                           placeholder="{{ 'CommonLabels.SearchByMsisdn' | translate }}...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary btn-sm" type="button"
                                ng-click="filterTableByMsisdn(msisdnFilterText)"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table ng-table="subscriberList.tableParams" class="table table-striped table-bordered"
                       template-pagination="ngTableCustomPager.html">
                    <tr ng-repeat="subscriber in $data" class="hidden-link-cell-row"
                        ng-class="{ 'row-selected': subscriber.rowSelected }">
                        <td align="center" data-title="'Subsystems.SubscriptionManagement.Operations.Subscribers.TableColumns.Msisdn' | translate">{{subscriber.msisdn}}</td>
                        <td align="center" data-title="'Subsystems.SubscriptionManagement.Operations.Subscribers.TableColumns.Language' | translate">{{subscriber.lang | LanguageAbbrFilter | translate}}</td>
                        <td align="center" data-title="'Subsystems.SubscriptionManagement.Operations.Subscribers.TableColumns.PaymentType' | translate">{{subscriber.paymentType | uppercase}}</td>
                        <td align="center" data-title="'Subsystems.SubscriptionManagement.Operations.Subscribers.TableColumns.State' | translate">{{subscriber.state.currentState}}</td>
                        <td align="center" data-title="'CommonLabels.Actions' | translate">
                            <button ui-sref="subsystems.subscriptionmanagement.operations.subscribers.update ({ msisdn: subscriber.msisdn })" class="btn btn-xs btn-secondary"
                                    title="{{ AuthorizationService.canSsmOperationsSubscriberUpdate() ? ('CommonLabels.Update' | translate) : ('CommonLabels.View' | translate) }}">
                                <i class="fa fa-edit" ng-if="AuthorizationService.canSsmOperationsSubscriberUpdate()" ></i>
                                <i class="fa fa-square-o" ng-if="!AuthorizationService.canSsmOperationsSubscriberUpdate()" ></i>
                            </button>
                            <button ng-click="showOfferSubscriptions(subscriber)" class="btn btn-xs btn-secondary"
                                    title="{{ 'CommonLabels.ShowSubscriptions' | translate }}"
                                    ng-disabled="!AuthorizationService.canSsmOperationsSubscriberRead()">
                                <i class="fa fa-bars"></i>
                            </button>
                            <button ng-click="showContentSubscriptions(subscriber)" class="btn btn-xs btn-default"
                                    title="{{ 'CommonLabels.ShowContentSubscriptions' | translate }}"
                                    ng-disabled="!AuthorizationService.canSsmOperationsSubscriberRead()">
                                <i class="fa fa-bars"></i>
                            </button>
                            <!--TODO: Delete ops to be discussed-->
                            <button ng-click="remove(subscriber)" class="btn btn-xs btn-danger"
                                    title="{{ 'CommonLabels.Remove' | translate }}"
                                    ng-disabled="true">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    <tr ng-if="!$data || $data.length === 0">
                        <td colspan="5" class="text-center">{{ 'CommonMessages.EmptyTable' | translate }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
