<form class="form-horizontal parsley-form">
    <div class="form-group">
        <label for="languageCode" class="col-sm-3 control-label" style="text-align: left;">{{'CommonLabels.Language' | translate}}</label>
        <div class="col-md-7">
            <select id="languageCode" name="languageCode" ng-model="languageCode" class="form-control"
                    ng-change="changeLanguage(languageCode)"
                    ng-options="language.languageCode as (language.languageCode | LanguageAbbrFilter | translate) for language in languageList">
                <option value="">-- {{ 'CommonLabels.SelectOne' | translate }} --</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3">{{ 'Services.VM.Operations.MessageTemplates.ClassOfServiceProfiles' | translate }}</label>
        <div class="col-md-7">
            <select id="cosId" name="cosId" ng-model="cosId" class="form-control"
                    ng-change="changeCosId(cosId)"
                    ng-options="classOfService.cosId as (classOfService.cosName | uppercase) for classOfService in classOfServiceProfiles">
                <option value="">-- {{ 'CommonLabels.SelectOne' | translate }} --</option>
            </select>
        </div>
    </div>
</form>
