<div class="portlet-body buttons-portlet-body">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-5">
            <div class="pull-left">
                <button class="btn btn-secondary btn-sm"
                        ui-sref="{{ $state.current.data.createState }}({ organizationId: $state.params.organizationId, userId: $state.params.userId })"
                        ng-disabled="!AuthorizationService.canBmsOperationsDistroListCreate($state.current.data.listType)">
                    <i class="fa fa-plus"></i>
                    {{ 'CommonLabels.AddNewEntry' | translate }}
                </button>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="pull-right">
                <div class="btn-group" ng-show="distributionListsList.tableParams.total() > 0">
                    <button type="button" ng-click="csv.download($state.current.data.exportName + (organizationName ? '_' + organizationName : '') + (userAccountName ? '_' + userAccountName : ''), distributionListsList.list)" class="btn btn-sm btn-default">{{ 'Export.CSV' | translate }}</button>
                    <button type="button" ng-click="xls.download($state.current.data.exportName + (organizationName ? '_' + organizationName : '') + (userAccountName ? '_' + userAccountName : ''), distributionListsList.list)" class="btn btn-sm btn-default">{{ 'Export.Excel' | translate }}</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4">
            <form class="mainnav-form">
                <input type="text" class="form-control input-sm pull-right mainnav-search-query"
                       ng-model="filterText" ng-change="filterTable(filterText, ['id', 'name', 'owner'])"
                       placeholder="{{ 'CommonLabels.Search' | translate }}...">
                <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>

<div class="portlet-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table ng-table="distributionListsList.tableParams" class="table table-striped table-bordered"
                       template-pagination="ngTableCustomPager.html"
                       export-csv="csv" export-xls="xls"
                       export-options="exportOptions">
                    <tr ng-repeat="data in $data" class="hidden-link-cell-row"
                        ng-class="{ 'row-selected': data.rowSelected }">
                        <td align="center" data-title="'Products.BulkMessaging.Operations.DistributionLists.TableColumns.Name' | translate" sortable="'name'">{{data.name}}</td>
                        <td align="center" data-title="'Products.BulkMessaging.Operations.DistributionLists.TableColumns.Size' | translate" sortable="'listSize'">{{data.listSize}}</td>
                        <td align="center" data-title="'Products.BulkMessaging.Operations.DistributionLists.TableColumns.Owner' | translate" sortable="'ownerId'"
                            ng-if="!$state.params.userId">{{data.ownerId}}</td>
                        <td align="center" data-title="'CommonLabels.Actions' | translate">
                            <button ui-sref="{{ $state.current.data.updateState }}({ organizationId: $state.params.organizationId, userId: $state.params.userId, listName: data.name })"
                                    class="btn btn-xs btn-secondary"
                                    title="{{ AuthorizationService.canBmsOperationsDistroListUpdate($state.current.data.listType) ? ('CommonLabels.Update' | translate) : ('CommonLabels.View' | translate) }}">
                                <i class="fa fa-edit" ng-if="AuthorizationService.canBmsOperationsDistroListUpdate($state.current.data.listType)"></i>
                                <i class="fa fa-square-o" ng-if="!AuthorizationService.canBmsOperationsDistroListUpdate($state.current.data.listType)"></i>
                            </button>
                            <button ng-click="downloadListContent(data)" class="btn btn-xs btn-tertiary"
                                    ng-disabled="!AuthorizationService.canBmsOperationsDistroListRead($state.current.data.listType)"
                                    title="{{ 'CommonLabels.Download' | translate }}">
                                <i class="fa fa-download"></i>
                            </button>
                            <button ng-click="remove(data)" class="btn btn-xs btn-danger"
                                    title="{{ 'CommonLabels.Delete' | translate }}"
                                    ng-disabled="!AuthorizationService.canBmsOperationsDistroListDelete($state.current.data.listType)">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    <tr ng-if="$data.length === 0">
                        <td colspan="{{$state.params.userId ? 3 : 4}}" class="text-center">{{ 'CommonMessages.EmptyTable' | translate }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
