<div class="portlet-header">
    <h4 class="portlet-title">
        {{ $state.current.data.pageHeaderKey | translate }} / {{ $state.current.data.subPageHeaderKey | translate }}
    </h4>
</div>

<div class="portlet-body buttons-portlet-body">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-5">
            <div class="pull-left">
                <div class="btn-group" ng-show="promotionList.tableParams.total() > 0">
                    <button type="button" ng-click="csv.download('RBTPressKeyMgmtLists' + key, promotionList.list)" class="btn btn-sm btn-default">{{ 'Export.CSV' | translate }}</button>
                    <button type="button" ng-click="xls.download('RBTPressKeyMgmtLists' + key, promotionList.list)" class="btn btn-sm btn-default">{{ 'Export.Excel' | translate }}</button>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3">
            <div class="pull-right">
                <!--<button class="btn btn-secondary btn-sm"
                        ui-sref="{{ $state.current.data.newState }}({ promotionData: emptyPromotionEntry })"
                        ng-disabled="!AuthorizationService.canCreate()">
                    <i class="fa fa-plus"></i>
                    {{ 'CommonLabels.AddNewEntry' | translate }}
                </button>-->
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4">
            <form class="mainnav-form">
                <input type="text" class="form-control input-sm pull-right mainnav-search-query"
                       ng-model="filterText" ng-change="filterTable(filterText, ['dtmf', 'promotionType'])"
                       placeholder="{{ 'CommonLabels.Search' | translate }}...">
                <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>

<div class="portlet-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table ng-table="promotionList.tableParams" class="table table-bordered"
                       template-pagination="ngTableCustomPager.html"
                       export-csv="csv" export-xls="xls"
                       export-options="exportOptions">
                    <tr ng-repeat="data in $data" class="hidden-link-cell-row">
                        <!--ng-class="{'bg-promotion-none': (data.promotionType === 'NONE')}">-->
                        <td align="center" data-title="'Services.RBT.Operations.PressKey.Management.TableColumns.DTMF' | translate" sortable="'dtmf'">{{data.dtmf}}</td>
                        <td align="center" data-title="'Services.RBT.Operations.PressKey.Management.TableColumns.PromotionType' | translate"
                            sortable="'promotionType'"
                            uib-popover-html="'{{ (data.promotionType === 'SERVICE' ? 'Configured for ' + data.serviceOfferName : (data.promotionType === 'TONE' ? 'Configured for ' + data.toneInfoMap.entry.length + ' tones': '')) }}'"
                            popover-placement="top" popover-animation="false" popover-trigger="'mouseenter'" popover-append-to-body="true">{{data.promotionType}}
                            <!--<h6 style="margin: 1px;">
                                <span class="label promotion promotion-{{ data.promotionType | lowercase }}">{{data.promotionType}}</span>
                            </h6>-->
                        </td>
                        <td align="center" data-title="'CommonLabels.Actions' | translate">
                            <div ng-if="data.promotionType !== 'NONE'">
                                <button ng-click="update(data)"
                                        ng-disabled="!AuthorizationService.canUpdate()"
                                        class="btn btn-xs btn-secondary"
                                        title="{{ AuthorizationService.canUpdate() ? ('CommonLabels.Update' | translate) : ('CommonLabels.View' | translate) }}">
                                    <i class="fa fa-edit" ng-if="AuthorizationService.canUpdate()"></i>
                                    <i class="fa fa-square-o" ng-if="!AuthorizationService.canUpdate()"></i>
                                </button>
                                <button ng-click="remove(data)" class="btn btn-xs btn-danger"
                                        title="{{ 'CommonLabels.Remove' | translate }}"
                                        ng-disabled="!AuthorizationService.canDelete()">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div ng-if="data.promotionType === 'NONE'">
                                <button ng-click="addNew(data)"
                                        ng-disabled="!AuthorizationService.canCreate()"
                                        class="btn btn-xs btn-success"
                                        title="{{ 'CommonLabels.AddNewEntry' | translate }}">
                                    <i class="fa fa-plus" ng-if="AuthorizationService.canCreate()"></i>
                                    <i class="fa fa-square-o" ng-if="!AuthorizationService.canCreate()"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <!--<tr ng-if="$data.length === 0">
                        <td colspan="4" class="text-center">{{ 'CommonMessages.EmptyTable' | translate }}</td>
                    </tr>-->
                </table>
            </div>
        </div>
    </div>

</div>