{{- if .Values.httpd.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "consolportals.deploymentName" (dict "component" "httpd") }}
  labels:
    {{- include "consolportals.componentLabels" (dict "component" "vcp-httpd" "context" .) | nindent 4 }}
spec:
  replicas: {{ .Values.httpd.replicaCount }}
  selector:
    matchLabels:
      {{- include "consolportals.componentSelectorLabels" (dict "component" "vcp-httpd" "context" .) | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "consolportals.componentSelectorLabels" (dict "component" "vcp-httpd" "context" .) | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.serviceAccount.create }}
      serviceAccountName: {{ include "consolportals.serviceAccountName" . }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: vcp-httpd
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: {{ include "consolportals.image" (dict "image" .Values.httpd.image "Chart" .Chart) }}
          imagePullPolicy: {{ .Values.httpd.image.pullPolicy }}
          ports:
            {{- range .Values.httpd.containerPorts }}
            - containerPort: {{ .containerPort }}
              {{- if .name }}
              name: {{ .name }}
              {{- end }}
              protocol: TCP
            {{- end }}
          {{- with .Values.httpd.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
