<div class="form-group">
    <label class="col-md-3">{{ 'Products.BulkMessaging.Operations.InteractiveCampaigns.IntroFiles' | translate }}</label>
    <div class="col-md-7">
        <div ng-if="campaign.introFileList.length" class="row col-md-9">
            <div ng-repeat="introFile in campaign.introFileList">
                <a ng-click="playStopAudio(introFile.file.lastModified);" style="cursor: pointer;text-decoration: none;color: #333333;"
                   ng-if="AuthorizationService.canBmsOperationsCampaignRead()">
                    <i class="fa {{ isPlaying(introFile.file.lastModified) ? 'fa-pause-circle' : 'fa-play-circle' }}"></i>
                </a>&nbsp;
                <span class="label label-default selected-item-label" style="cursor: text;text-overflow: ellipsis;width: 192px;overflow: hidden;white-space: nowrap;display: inline-block;vertical-align: middle;text-align: left;padding: 4px 4px 4px 10px;"
                      uib-tooltip="{{ getIntroFileString(introFile) }}" tooltip-class="custom-class" tooltip-placement="top-left" tooltip-animation="false" tooltip-trigger="'mouseenter'" tooltip-append-to-body="true">
                    {{ getIntroFileString(introFile) }}
                </span>&nbsp;
                <a ng-click="editIntroFile(campaign, introFile)" style="cursor: pointer;text-decoration: none;"
                   ng-if="AuthorizationService.canBmsOperationsCampaignCreate()">
                    <span class="label label-secondary"><i class="fa fa-edit"></i></span>
                </a>
                <a ng-click="removeIntroFile(campaign, introFile)" style="cursor: pointer;text-decoration: none;"
                   ng-if="AuthorizationService.canBmsOperationsCampaignCreate()">
                    <span class="label label-danger"><i class="fa fa-times"></i></span>
                </a>
                <audio id="{{introFile.file.lastModified}}" controls controlsList="nodownload" ngf-src="!introFile.file.$error && introFile.file" style="position: absolute;visibility: hidden;"></audio>
            </div>
        </div>
        <button class="btn btn-default col-md-3"
                ng-if="!campaign.introFileList || campaign.introFileList.length < 10"
                ng-disabled="!AuthorizationService.canBmsOperationsCampaignCreate()"
                ng-class="{ 'pull-right': campaign.introFileList.length > 0 }"
                ng-click="addIntroFile(campaign)">{{ 'CommonLabels.Add' | translate }}
        </button>
        <button class="btn btn-default col-md-3" ng-if="campaign.introFileList.length >= 10" ng-disabled="true" class="pull-right">{{ 'CommonLabels.Add' | translate }}</button>
    </div>
</div>
